<div class="uploads bg-white pd-40 xs-pd-15 radius-5 xs-radius-0">

  <% include ../partials/video/_video-preview.ejs %>
  <% var shareSwitch = false %>
  <% include ../partials/video/_video-info.ejs %>
  <% include ../partials/video/_video-thumbnails.ejs %>

  <div class="confirm mt-50 text-center">
    <a href="/own-videos" class="btn btn-white height-40 width-200 mr-15 xs-w40 lh-2em">取消</a>
    <a href="#" class="btn btn-red width-200 xs-w40 lh-2em">完成</a>
  </div>

</div>
