<div class="content bg-white radius-5 xs-radius-0">
  <div class="border-bottom-gray-1px pd-20 xs-pd-10">

    <div class="title fz-1p6em xs-ml-5">
      <i class="material-icons relative top-6px fz-1p3em">&#xE7FD;</i>
      <span>個人資料</span>
    </div>
    <div class="border-bottom-gray-1px mt-15"></div>

    <form action="/" method="post">

      <div class="edit-profile pd-15 clearfix">

        <div class="avatar table-cell pull-left mr-15 xs-w100 text-center">
          <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail" />
        </div>

        <% include ./profile/_profile-form.ejs %>

      </div>

      <div class="button w100 text-center mt-40">
        <a href="/" class="btn btn-white width-200 height-40 lh-2em mr-15 xs-w40">取消</a>
        <input type="submit" class="btn btn-red width-200 height-40 lh-2em xs-w40" value="儲存修改" />
      </div>

    </form>

  </div>

</div>
