<div class="content bg-white radius-5 xs-radius-0">
  <div class="border-bottom-gray-1px pd-20 xs-pd-10">

    <div class="title fz-1p6em xs-ml-5">
      <i class="material-icons relative top-6px fz-1p3em">&#xE417;</i>
      <span>我的關注</span>
    </div>

    <div class="follow-list">
      <div class="border-bottom-gray-1px mt-15"></div>
      <% for(var i = 0; i < 6; i++) { %>
        <div class="list-item border-bottom-gray-1px pd-20 xs-pd-15 table">
          <div class="avatar table-cell pull-left mr-15">
            <a href="#">
              <img src="http://dummyimage.com/200x200/cccccc/fff&text=play-video" alt="" class="thumbnail" />
            </a>
          </div>
          <div class="info table-cell pull-left w100-115">
            <div class="pull-right">
              <a href="#" class="btn btn-xs btn-gray-light radius-5">取消關注</a>
            </div>
            <div class="name fz-1p2em link-red mb-5"><a href="#">Name</a></div>
            <div class="category">分類：<span>熱門</span></div>
            <div class="follow-counts">關注人數：<span>123,456</span></div>
            <div class="desctiption hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, molestias. Animi hic facere rerum vitae ducimus a suscipit quae minus odio nihil, perspiciatis eligendi iste dolore ratione! Fugit, accusantium, qui.</div>
          </div>
        </div>
      <% } %>
    </div>

  </div>
</div>
