<footer class="w100 bg-black color-white pd-5">
  <div class="mt-5 mb-5">
    <div class="text-center">
      <ul class="link-white inline-block clearfix">
        <li class="pd-lr-5 mt-5 pull-left">
          <a href="/about">關於達人網</a>
        </li>
        <li class="pd-lr-5 mt-5 pull-left">
          <a href="/policies">服務條款</a>
        </li>
        <li class="pd-lr-5 mt-5 pull-left">
          <a href="/privacy">隱私政策</a>
        </li>
        <li class="pd-lr-5 mt-5 pull-left">
          <a href="/question">常見問題</a>
        </li>　 　
      </ul>
      <p class="color-white mt-5">&copy; 2016. All rights reserved. ToBeOne Co.,Ltd.</p>
    </div>
  </div>
</footer>
