<footer class="container-fluid bg-black color-white">
  <div class="mt-15 mb-15 text-center">
    <div class="">
      <ul class="link-white inline-block text-left">
        <li class="ml-15 mt-5">
          <a href="#">關於達人網</a>
        </li>
        <li class="ml-15 mt-5">
          <a href="#">服務條款</a>
        </li>
        <li class="ml-15 mt-5">
          <a href="#">使用規範</a>
        </li>
        <li class="ml-15 mt-5">
          <a href="#">常見問題</a>
        </li>
        <li class="ml-15 mt-5">
          <a href="#">隱私權政策</a>
        </li>　 　
      </ul>
      <p class="color-white mt-15">&copy; 2016. All rights reserved. TOBEONE</p>
    </div>
  </div>
</footer>
