<header class="container-fluid">
  <div class="row">

    <div class="col-sm-6 col-xs-5 xs-pd-lr-5 brand-logo ">
      <div class="ml-10 w100">
        <a href="/">
          <img src="/image/2be1_Logo.svg" class="height-40 hidden-xs" alt="" />
          <img src="/image/2be1_logo_white.svg" class="height-35 display-xs" alt="" />
        </a>
      </div>
    </div>

    <div class="col-sm-6 col-xs-7 xs-pd-lr-5 main-function ">
      <div class="col-sm-8 col-xs-6 xs-pd-lr-5 clearfix">
        <form action="index.html" method="post" class="hidden-xs">
          <div class="row">
            <div class="col-sm-12">
              <div class="group">
                <input type="text" name="search" value="" placeholder="請輸入關鍵字搜尋" class="form-control pl-20 radius-20">
                <button class="inner-btn" type="submit" style=""><i class="material-icons color-gray-light mt-5">&#xE8B6;</i></button>
              </div>
            </div>
          </div>
        </form>
        <div class="display-xs pull-right">
          <a href="#">
            <button class="btn btn-gray height-40 bg-opacity hover-none" type="button" style=""><i class="material-icons color-white fz-2em">&#xE8B6;</i></button>
          </a>
        </div>
      </div>
      <div class="col-sm-4 col-xs-6 xs-pd-lr-5">
        <button type="submit" class="form-control btn btn-border-red radius-20 btn-border-red w100 xs-color-white xs-border-white">登入<span class="hidden-xs">/註冊</span></button>
      </div>
    </div>

  </div>
</header>
