<header class="bg-white">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-xs-12 xs-pd-lr-5 brand-logo ">
        <div class="ml-10 w100">
          <a href="/">
            <img src="/image/2be1_Logo.svg" class="height-45" alt="" />
          </a>
        </div>
      </div>

    </div>

  </div>
</header>
