<div class="new-post bg-white pd-20 radius-5 xs-radius-0">
  <div class="row">
    <div class="col-md-1 col-sm-2 hidden-xs">
      <div class="avatar">
        <div class="relative">
          <a href="#member" class="">
            <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-small" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-11 col-sm-10 col-xs-12">
      <form class="" action="index.html" method="post">
        <div class="row mt-5">
          <div class="col-xs-12">
            <button type="submit" name="button" class="btn btn-red radius-5 width-300 xs-w100">
              <i class="material-icons fix-icon-3px fz-1p5em">&#xE54D;</i>
              <span class="" style="position:relative;top:-2px;">
                上傳影片
              </span>
            </button>
            <span class="ml-20 bg-gray-lighter pd-5 left-arrow relative radius-right-5 hidden-xs hidden-sm">
              想秀什麼？立馬上傳！
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
