<div class="content bg-white radius-5 xs-radius-0">
  <div class="border-bottom-gray-1px pd-20">
    <div class="under-line fz-1p6em">
      你的通知
    </div>
    <ul class="w100 radius-5 clearfix wrap">
      <div class="scroll-y h100-31 color-gray link-gray">
        <li class="unread under-line-1px">
          <a href="#1">
            <div class="link-gray clearfix pd-5">
              <div class="avatar pull-left mr-10 pd-5">
                <div class="relative">
                  <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-small" />
                </div>
              </div>
              <div class="pull-left pd-5 w100-80">
                <img src="http://dummyimage.com/200x120/cccccc/fff&text=thumbnail" alt="" class="inline-block pull-right width-80" />
                <b>NAME</b> 和 <b>NAME</b> 發表了影片
                <div class="fz-p8em color-gray-light">18分鐘前</div>
              </div>
            </div>
          </a>
        </li>
        <li class="unread under-line-1px">
          <a href="#2">
            <div class="link-gray clearfix pd-5">
              <div class="avatar pull-left mr-10 pd-5">
                <div class="relative">
                  <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-small" />
                </div>
              </div>
              <div class="pull-left pd-5 w100-80">
                <img src="http://dummyimage.com/200x120/cccccc/fff&text=thumbnail" alt="" class="inline-block pull-right width-80" />
                <b>NAME</b> 發表了影片<br>
                <div class="fz-p8em color-gray-light">18分鐘前</div>
              </div>
            </div>
          </a>
        </li>
        <li class="under-line-1px">
          <a href="#3">
            <div class="link-gray clearfix pd-5">
              <div class="avatar pull-left mr-10 pd-5">
                <div class="relative">
                  <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-small" />
                </div>
              </div>
              <div class="pull-left pd-5 w100-80">
                <b>NAME</b> 回應了你的留言
                <div class="fz-p8em color-gray-light">18分鐘前</div>
              </div>
            </div>
          </a>
        </li>
      </div>
    </ul>

  </div>
</div>
