<ul class="dropdown-menu width-400 radius-5 pull-right clearfix wrap" id="notification">
  <div class="scroll-y h100-31 color-gray link-gray">
    <li class="unread">
      <a href="#1">
        <div class="link-gray clearfix pd-5">
          <div class="avatar pull-left mr-10">
            <div class="relative">
              <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-small" />
            </div>
          </div>
          <div class="pull-left pd-5 w100-65">
            <img src="http://dummyimage.com/200x120/cccccc/fff&text=thumbnail" alt="" class="inline-block pull-right width-80" />
            <b>NAME</b> 和 <b>NAME</b> 發表了影片
            <div class="fz-p8em color-gray-light">18分鐘前</div>
          </div>
        </div>
      </a>
    </li>
    <li class="unread">
      <a href="#2">
        <div class="link-gray clearfix pd-5">
          <div class="avatar pull-left mr-10">
            <div class="relative">
              <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-small" />
            </div>
          </div>
          <div class="pull-left pd-5 w100-65">
            <img src="http://dummyimage.com/200x120/cccccc/fff&text=thumbnail" alt="" class="inline-block pull-right width-80" />
            <b>NAME</b> 發表了影片<br>
            <div class="fz-p8em color-gray-light">18分鐘前</div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#3">
        <div class="link-gray clearfix pd-5">
          <div class="avatar pull-left mr-10">
            <div class="relative">
              <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-small" />
            </div>
          </div>
          <div class="pull-left height-50 pd-5">
            <b>NAME</b> 回應了你的留言
            <div class="fz-p8em color-gray-light">18分鐘前</div>
          </div>
        </div>
      </a>
    </li>
  </div>
  <div class="text-center border-top-gray-1px absolute bottom-0 w100 z-100 link-red">
    <a href="#" class="height-30 block bg-light lh-2em">查看全部</a>
  </div>
</ul>
