<div class="content bg-white radius-5 mt-15 xs-radius-0">
  <div class="border-bottom-gray pd-20">
    <div class="row">
      <% include ../partials/post/_post-content.ejs %>
    </div>
  </div>
  <div class="bg-white clearfix radius-5">
    <div class="post-action col-xs-12 pd-10 border-bottom-gray clearfix pd-10">
      <div class="social-action">
        <ul class="inline-block pd-lr-10">
          <li class="">
            <a href="#">
              <i class="material-icons fix-icon-3px fz-1p2em">&#xE87E;</i>
              <span>喜歡</span>
            </a>
          </li>
          <li class="ml-35">
            <a href="#">
              <i class="material-icons fix-icon-3px fz-1p2em">&#xE0B7;</i>
              <span>留言</span>
            </a>
          </li>
          <li class="ml-35 share-link relative">
            <a href="#" class="dropdown-toggle">
              <i class="material-icons fix-icon-3px fz-1p2em">&#xE80D;</i>
              <span>分享</span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">分享到 Facebook</a></li>
              <li><a href="#">分享到 Weibo</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="post-comments col-xs-12 pd-20 bg-light pt-10">
      <div class="post-info fz-1em lh-1p5em border-bottom-gray pb-10">
        <a href="#">
          <span class="likes-count">1.2萬</span>人喜歡
        </a>
        <span>｜</span>
        <a href="#">
          <span class="comments-count">100</span>則留言
        </a>
      </div>
      <div class="link-red-dark">
        <a href="#" class="">
          查看全部<span class="reply-count">6</span>則回覆
          <i class="material-icons fix-icon">&#xE5C5;</i>
        </a>
      </div>

      <% include ../partials/post/_comment.ejs %>

      <% include ../partials/post/_comment.ejs %>

      <% include ../partials/post/_new-comment.ejs %>

    </div>
  </div>

</div>
