<div class="new-post bg-white pd-20 radius-5 xs-radius-0">
  <div class="row">
    <div class="col-md-1 col-sm-2">
      <div class="avatar">
        <div class="relative">
          <a href="#member" class="">
            <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-small" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-11 col-sm-10 col-xs-12 xs-mt-15">
      <a href="#" class="pull-right fz-p8em color-gray-light"><span>12,345</span>人關注</a>
      <div class="name fz-1p4em link-red">
        <a href="#">NAME</a>
      </div>
      <div class="description mt-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="more mt-5">
        <a href="#">展開全部...</a>
      </div>
      <div class="relative clearfix">
        <button class="btn btn-sm pull-right btn-white dropdown-toggle">
          <span>排序</span>
          <span class="material-icons">&#xE313;</span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">依時間排序</a></li>
          <li><a href="#">依熱門程度</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
