<div class="bg-white pd-20 radius-5 xs-radius-0">

  <div class="text-center fz-1p2em mb-10">
    第一步
  </div>

  <div class="step1 bg-primary-dark radius-20 mb-15 pd-15 color-white text-center square-120 center-block">
    <p class="color-white mb-5">
      上傳影片
    </p>
    <i class="material-icons fix-icon fz-3em">&#xE064;</i>
  </div>

  <div class="square-60 center-block mb-15">
    <div class="line-right"></div>
    <div class="red-ball center-block"></div>
  </div>

  <div class="text-center fz-1p2em mb-10">
    第二步
  </div>

  <div class="step2 bg-primary-dark radius-20 mb-15 pd-15 color-white text-center square-120 center-block">
    <p class="color-white mb-5">
      填寫影片資訊
    </p>
    <i class="material-icons fix-icon fz-3em">&#xE02F;</i>
  </div>

  <div class="square-60 center-block mb-15">
    <div class="line-right"></div>
    <div class="red-ball center-block"></div>
  </div>

  <div class="text-center fz-1p2em mb-10">
    第三步
  </div>

  <div class="step3 bg-gray-lighter radius-20 mb-15 pd-15 color-white text-center square-120 center-block">
    <p class="color-white mb-5">
      選擇影片縮圖
    </p>
    <i class="material-icons fix-icon fz-3em">&#xE251;</i>
  </div>

  <div class="square-60 center-block mb-15">
    <div class="line-right"></div>
    <div class="red-ball center-block"></div>
  </div>

  <div class="finish text-center fz-1p2em">
    上傳完成！
  </div>

</div>
