<div class="ad">
  <img src="http://dummyimage.com/640x360/cccccc/fff&text=ad-banner" alt="" class="w100" />
</div>

<% for(var i = 0; i < 10; i ++) { %>
  <div class="list mt-15 table clearfix mb-1">
    <div class="video-image w40 table-cell pull-left">
      <a href="#">
        <img src="http://dummyimage.com/640x360/cccccc/fff&text=video" alt="" class="w100" />
      </a>
    </div>
    <div class="video-info w60 table-cell pull-left pl-15">
      <a href="#">
        <div class="title fz-1p1em">
          <b>標題 title</b>
        </div>
        <div class="views-count fz-p8em">
          觀看次數：
          <span>123,124</span>
        </div>
      </a>
    </div>
  </div>
<% } %>
