
.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }

  // [converter] extracted a& to a.btn
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}



ul.gray-item li a {
  color: $gray;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  &:hover {
    color: $gray-light;
  }
}

.hover-red {
  li {
    padding-bottom: 10px;
    border-bottom: 4px $white solid;
    &:hover {
      a,a:hover {
        color: $brand-primary;
      }
      border-bottom: 4px $brand-primary solid;
    }
  }
}

.red-link {
  color: $brand-primary;
  &:hover {
    color: $brand-primary-dark;
  }
}


.btn-gray {
  background-color: $gray-light;
  color: $white;
  &:hover {
    background-color: $gray;
    color: $white;
  }
}

.btn-white {
  background-color: $white;
  color: $gray;
  border: 1px solid $gray-lighter;
  &:hover {
    background-color: $white;
    color: $gray;
  }
}

.link-gray {
  color: $gray;
  &:hover {
    color: $gray-light;
  }
}

.hover-white:hover {
  color: $white;
}

.link-gray-light > a {
  color: $gray-light;
  &:hover {
    text-decoration: none;
    color: $gray;
  }
}
.btn-red {
  font-size: 1em;
  font-weight: 600;
  line-height: 25px;
  height: 40px;
  vertical-align: middle;
  background-color: $brand-primary;
  color: $white;
  &:hover {
    background-color: $brand-primary-dark;
    color: $white;
  }
}


// switch button

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid $gray-light; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    @include transition(margin 0.3s ease-in 0s);
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: $green; color: $white;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: $gray-lighter; color: $gray;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: $white;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 1px solid $gray-light; border-radius: 20px;
    @include transition(all 0.3s ease-in 0s);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
