<div class="container-fluid mt-15 mb-15 header-height">
  <div class="row">

      <% include ../partials/_sidebar.ejs %>

    <div class="col-md-3 col-sm-4 hidden-xs">
      <div class="bg-white radius-5 pd-20">
        <div class="radius-5">

          <div class="pd-10 mt-10">
            <a href="/about">
              <i class="red-dot ml-20"></i>
              關於達人網
            </a>
          </div>
          <div class="pd-10 mt-10">
            <a href="/mission">
              <i class="red-dot ml-20"></i>
              網站理念
            </a>
          </div>
          <div class="pd-10 mt-10">
            <a href="/feature">
              <i class="red-dot ml-20"></i>
              網站特色
            </a>
          </div>
          <div class="pd-10 mt-10">
            <a href="/policies">
              <i class="red-dot ml-20"></i>
              服務條款
            </a>
          </div>
          <div class="pd-10 mt-10">
            <a href="/privacy">
              <i class="red-dot ml-20"></i>
              隱私政策
            </a>
          </div>
          <div class="pd-10 mt-10">
            <a href="/question">
              <i class="red-dot ml-20"></i>
              常見問題
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-9 col-sm-8 xs-pd-0">

      <% switch (url) {
        case "/about" : %>
          <% include ../partials/about/_about.ejs %>
          <% break; %>
        <% case "/privacy" : %>
          <% include ../partials/about/_privacy.ejs %>
          <% break; %>
        <% case "/policies" : %>
          <% include ../partials/about/_policies.ejs %>
          <% break; %>
        <% case "/question" : %>
          <% include ../partials/about/_question.ejs %>
          <% break; %>
        <% case "/feature" : %>
          <% include ../partials/about/_feature.ejs %>
          <% break; %>
        <% case "/mission" : %>
          <% include ../partials/about/_mission.ejs %>
          <% break; %>
      <% } %>

    </div>

  </div>
</div>
