<div class="container-fluid mt-15 mb-15 header-height">
  <div class="row">

      <% include ../partials/_sidebar.ejs %>

    <div class="col-sm-8 col-md-9 xs-pd-0">

      <div class="posts">
        <% include ../partials/_edit-video.ejs %>
      </div>

    </div>

  </div>
</div>
