<div class="col-sm-4 col-md-3 xs-pd-0 hidden-xs" id="sidebar">
  <% include ../partials/_sidebar.ejs %>
</div>

<div class="col-sm-8 col-md-9 xs-pd-0">

  <% include ../partials/_new-post.ejs %>

  <div class="posts">
    <% include ../partials/_post.ejs %>
    <% include ../partials/_post.ejs %>
  </div>

</div>
