<!DOCTYPE html>
<html class="">
  <% include ../partials/_page-head.ejs %>
  <body class="bg-gray-lighter">
    <div id="main-content">
      <input type="checkbox" class="hidden" id="toggle-menu" checked>
      <% include ../partials/_header.ejs %>
      <%- body %>
    </div>
    <% include ../partials/_footer.ejs %>
  </body>
</html>
