<div class="banner w100 absolute z-1">
  <img src="/image/login-banner.png" alt="" class="w100" />
</div>

<div class="container-fluid mb-15 relative">
  <div class="row">

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 xs-pd-lr-0 mt-50 xs-mt-0">

      <div class="text-center fz-3em color-white-opacity mt-35 xs-mt-25">會員登入</div>

      <div class="bg-white radius-5 xs-radius-0 center-block pd-20 border mt-30 xs-mt-5">

        <div class="table">
          <div class="table-cell item-2 xs-w100 mt-10 pd-20 xs-pd-0 ">
            <div class="text-center fz-1p2em">社群帳號登入</div>
            <div class="social-login relative table clearfix">
              <div class="item-2 pd-lr-10 mt-15">
                <button class="btn btn-fb radius-5 fz-1p2em height-45 w100">
                  <i class="fa fa-facebook fz-1p3em pull-left" aria-hidden="true"></i>
                  Facebook
                </button>
              </div>
              <div class="item-2 pd-lr-10 mt-15">
                <button class="btn btn-weibo radius-5 fz-1p2em height-45 w100">
                  <i class="fa fa-weibo fz-1p3em pull-left" aria-hidden="true"></i>
                  微博
                </button>
              </div>
              <div class="item-2 pd-lr-10 mt-15">
                <button class="btn btn-google radius-5 fz-1p2em height-45 w100">
                  <i class="fa fa-google-plus fz-1p3em pull-left" aria-hidden="true"></i>
                  Google+
                </button>
              </div>
              <div class="item-2 pd-lr-10 mt-15">
                <button class="btn btn-wechat radius-5 fz-1p2em height-45 w100">
                  <i class="fa fa-wechat fz-1p3em pull-left" aria-hidden="true"></i>
                  Wechat
                </button>
              </div>
              <div class="item-2 pd-lr-10 mt-15">
                <button class="btn btn-qq radius-5 fz-1p2em height-45 w100">
                  <i class="fa fa-qq fz-1p3em pull-left" aria-hidden="true"></i>
                  QQ
                </button>
              </div>
            </div>
          </div>
          <div class="table-cell item-2 xs-w100 mt-20 pd-30 xs-pd-0 border-left-gray-1px xs-border-none">
            <form action="/">
              <div class="form-group">
                <input type="text" name="email" class="form-control border height-40" placeholder="電子郵件">
              </div>
              <div class="form-group">
                <input type="password" name="password" class="form-control border height-40" placeholder="密碼">
              </div>
              <div class="form-group">
                <div class="inline-block clearfix ">
                  <label for="remember-me" class="inline-block pull-left mr-15">記住帳號</label>
                  <div class="onoffswitch switch-small inline-block relativ pull-left">
                    <input type="checkbox" name="remember-me" class="onoffswitch-checkbox" id="remember-me" checked>
                    <label class="onoffswitch-label" for="remember-me">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-red height-40 w100 fz-1p1em fw-400">會員登入</button>
              </div>
            </form>
          </div>
        </div>

        <div class="text-center mt-35">
          <a href="/register" class="hover-red">會員註冊</a> ｜ <a href="/forgot-pwd" class="hover-red">忘記密碼</a>
        </div>

      </div>

    </div>

  </div>
</div>
