<div class="container-fluid mt-15 mb-15 header-height">
  <div class="row">

    <% var showSideBar = (sidebar ? '' : 'display-xs-block') %>
    <div class="col-sm-4 col-md-3 xs-pd-0 xs-pb-45 animated xs-radius-0 <%= showSideBar%>" id="sidebar">
      <% include ../partials/_sidebar.ejs %>
    </div>

    <div class="col-sm-8 col-md-9 xs-pd-0">
      <% include ../partials/_own-video-list.ejs %>
    </div>

  </div>
</div>
