<div class="container-fluid mt-15 mb-15 header-height">
  <div class="row">

      <% include ../partials/_sidebar.ejs %>

    <div class="col-sm-8 col-md-9 xs-pd-0">
      <% include ../partials/_own-video-list.ejs %>
    </div>

  </div>
</div>
