<div class="banner w100 absolute z-1">
  <img src="/image/login-banner.png" alt="" class="w100" />
</div>

<div class="container-fluid mb-15 relative">
  <div class="row">

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 xs-pd-lr-0 mt-50 xs-mt-0">

      <div class="text-center fz-3em color-white-opacity mt-35 xs-mt-25">會員信箱認證</div>

      <div class="bg-white radius-5 xs-radius-0 center-block pd-40 border mt-30 xs-mt-5 bg-image text-center">

        <div class="fz-1p4em under-line mb-35">
          認證信已寄出
        </div>

        <div class="fz-1p4em">
          系統已將 認證通知信 寄至您的信箱 (xxxxxxxxxxxxxx@gmail.com)，<br>
          請前往收信點選 “認證連結”，啟用您的達人網帳號 。
        </div>

        <p>
          (若您未在收件匣找到達人網認證信，請檢查您的垃圾信件匣。)
        </p>

        <a href="#" class="btn  btn-white radius-5 mt-25">
          回到首頁
        </a>

        <div class="link-red mt-35">
          沒收到認證信?
          <a href="#" class="ml-5">重新發送認證信</a>
        </div>

      </div>

    </div>

  </div>
</div>
