<div class="banner w100 absolute z-1">
  <img src="/image/login-banner.png" alt="" class="w100" />
</div>

<div class="container-fluid mb-15 relative">
  <div class="row">

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 xs-pd-lr-0 mt-50 xs-mt-0">

      <div class="text-center fz-3em color-white-opacity mt-35 xs-mt-25">會員註冊</div>

      <div class="bg-white radius-5 xs-radius-0 center-block pd-20 border mt-30 xs-mt-5 bg-image" style="background-image:url(/image/register-img.png)">

        <div class="table">
          <div class="table-cell item-2 xs-w100 mt-10 pd-20 xs-pd-0 ">
            <form action="/">
              <div class="form-group">
                <input type="text" name="email" class="form-control border height-40" placeholder="會員帳號">
              </div>
              <div class="form-group">
                <input type="text" name="nick-name" class="form-control border height-40" placeholder="會員暱稱">
              </div>
              <div class="form-group">
                <input type="password" name="password" class="form-control border height-40" placeholder="設定密碼">
              </div>
              <div class="form-group">
                <input type="password" name="confirm-password" class="form-control border height-40" placeholder="確認密碼">
              </div>
              <div class="form-group">
                <p class="color-gray-light fz-p9em">一旦點擊註冊，即表示你同意<a href="/policies">會員服務條款</a>內所有規範與權益。</p>
              </div>
              <div class="form-group mt-40">
                <button type="submit" class="btn btn-red height-40 w100 fz-1p1em fw-400">會員登入</button>
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
