<div class="banner w100 absolute z-1">
  <img src="/image/login-banner.png" alt="" class="w100" />
</div>

<div class="container-fluid mb-15 relative">
  <div class="row">

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 xs-pd-lr-0 mt-50 xs-mt-0">

      <div class="text-center fz-3em color-white-opacity mt-35 xs-mt-25">重設密碼</div>

      <div class="bg-white radius-5 xs-radius-0 center-block pd-40 border mt-30 xs-mt-5">

        <div class="row mt-30 mb-30">
          <div class="col-md-6 col-md-offset-3 xs-pd-lr-0">
            <form action="/">
              <div class="form-group">
                <input type="password" name="password" class="form-control border height-40" placeholder="請輸入新密碼">
              </div>
              <div class="form-group">
                <input type="password" name="confirm-password" class="form-control border height-40" placeholder="確認新密碼">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-red height-40 w100 fz-1p1em fw-400">確定</button>
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
