<div class="col-sm-8 col-md-9 xs-pd-0">

  <% include ../partials/_talent-intro.ejs %>

  <div class="posts">
    <% include ../partials/_post.ejs %>
    <% include ../partials/_post.ejs %>
  </div>

</div>
