<div class="container-fluid mt-15 mb-15 header-height">
  <div class="row">

      <% include ../partials/_sidebar.ejs %>

    <div class="col-lg-2 col-sm-3 col-md-3 xs-pd-0 hidden-xs">
      <% include ../partials/_upload-step.ejs %>
    </div>

    <div class="col-lg-10 col-sm-9 col-md-9 xs-pd-0">
      <% include ../partials/_upload-video.ejs %>
    </div>

  </div>
</div>

<div class="popout" id="upload-policy-popover">
  <div class="close-popout-area" id="close-popout-area"></div>
  <div class="content">
    <div class="body text-left">
      <% include ../partials/about/_policies.ejs %>
    </div>
  </div>
</div>
