<div class="col-sm-4 col-md-3 xs-pd-0 hidden-xs hidden-sm hidden-md hidden-lg" id="sidebar">
  <% include ../partials/_sidebar.ejs %>
</div>


<div class="col-sm-4 col-md-3 xs-pd-0">
  <% include ../partials/_upload-step.ejs %>
</div>

<div class="col-sm-8 col-md-9 xs-pd-0">

  <div class="posts">
    上傳影片
  </div>

</div>
