<div class="col-xs-12 pd-0">
  <div class="video-large w100 bg-black text-center">
    <div class="row">
      <div class="relative inline-block col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12">
        <div class="thumbnail-wrap thumbnail-wrap-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/b-JD5I_B6LY" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-15 mb-15 header-height">
  <div class="row">

      <% include ../partials/_sidebar.ejs %>

    <div class="col-xs-12 xs-pd-0">

      <div class="post col-md-8 col-sm-7 xs-pd-0">
            <% var video = false; %>
            <% include ../partials/_post.ejs %>
      </div>

      <div class="video-list col-md-4 col-sm-5 mt-15 xs-pd-0">
        <div class="bg-white radius-5 xs-radius-0 pd-15">
          <% include ../partials/_video-list.ejs %>
        </div>
      </div>

    </div>

  </div>
</div>
