@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

@keyframes heart-beat{
  0% {
    @include scale(1);
  }
  25% {
    @include scale(1.4);
  }
  50% {
    @include scale(1.2);
  }
  75% {
    @include scale(1.5);
  }
  100% {
    @include scale(1);
  }
}


@mixin hover-fadeout() {
  &:hover {
    animation-name: fadeOut;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    -webkit-animation-name: fadeOut;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
  }
}
