html, body {
  height: 100%;
  font-family: 'PingFangTC-Regular', 'Helvetica Neue',
  "source-han-sans-traditional", 'Microsoft JhengHei',
  'Noto Sans TC', Verdana ,serif;
  color: $gray;
}
html.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}
#main-content {
  min-height: 100%;
  margin-bottom: -96px;
}
#main-content:after {
  content: "";
  display: block;
  height: 96px;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.under-line {
  border-bottom: 2px solid $gray-lighter;
  padding-bottom: 6px;
  font-weight: normal;
}
.border {
  border: 1px solid $gray-lighter;
  @include border-radius(1px);
}
.border-bottom-gray {
  border-bottom: 1px solid $gray-lighter;
}
.title-with-gray-bg {
  font-size: 1.1em;
  font-weight: 600;
  color: $gray;
  background-color: $bg-light;
  padding: 10px;
  margin: 0;
}
.fix-icon {
  position: relative;
  top: 6px;
}
.fix-icon-3px {
  position: relative;
  top: 3px;
}

.social {
  a {
    margin-left: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: $gray-light;
    vertical-align: middle;
    svg {
      width: 100%;
      path {
        fill: $gray-light;
      }
      &:hover path {
        fill: $gray;
      }
    }
  }
}

.form-control {
  min-height: 40px !important;
}
.radius-20 {
  @include border-radius(20px);
}
.radius-5 {
  @include border-radius(5px);
}
.xs-radius-0 {
  @include bp(xs) {
    @include border-radius(0);
  };
}
.radius-right-5 {
  @include border-right-radius(5px);
}

.browser-message {
  display: none;
}

.single-line-text-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container-fluid {
  max-width: 1280px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.background-image-center {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.show-video {
  iframe {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 5px 0 5px;
  }
}

.category .active {
  @extend .hover-red:hover;
}

.left-arrow:before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
	border-top: 15px solid transparent;
	border-right: 15px solid $gray-lighter;
	border-bottom: 15px solid transparent;
}

.new-badge {
  position: absolute;
  right: -15px;
  top: -3px;
}
