html, body {
  height: 100%;
  font-family: 'PingFangTC-Regular', 'Helvetica Neue',
  "source-han-sans-traditional", 'Microsoft JhengHei',
  'Noto Sans TC', Verdana ,serif;
  color: $gray;
}
html.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
#main-content {
  min-height: 100%;
  margin-bottom: -96px;
}
#main-content:after {
  content: "";
  display: block;
  height: 96px;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.under-line {
  border-bottom: 2px solid $gray-lighter;
  padding-bottom: 6px;
  font-weight: normal;
}
.under-line-1px {
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: 6px;
  font-weight: normal;
}

.border { border: 1px solid $gray-lighter; }
.border-right-gray-1px { border-right: 1px solid $gray-lighter; }
.border-left-gray-1px { border-left: 1px solid $gray-lighter; }
.border-top-gray-1px { border-top: 1px solid $gray-lighter; }
.border-bottom-gray-1px { border-bottom: 1px solid $gray-lighter; }
.border-bottom-gray-2px { border-bottom: 2px solid $gray-lighter; }
.border-none { border: none; }
@include bp(xs) {
  .xs-border-none { border: none; }
};

.title-with-gray-bg {
  font-size: 1.1em;
  font-weight: 600;
  color: $gray;
  background-color: $bg-light;
  padding: 10px;
  margin: 0;
}

.video-large iframe{
  width: 100%;
  height: 100%;
}

.social {
  a {
    margin-left: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: $gray-light;
    vertical-align: middle;
    svg {
      width: 100%;
      path {
        fill: $gray-light;
      }
      &:hover path {
        fill: $gray;
      }
    }
  }
}

.square-120 { height: 120px;width: 120px; }
.square-80 { height: 80px;width: 80px; }
.square-60 { height: 60px;width: 60px; }

.browser-message {
  display: none;
}

.single-line-text-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container-fluid {
  max-width: 1280px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.background-image-center {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.category .active {
  @extend .hover-red:hover;
}

.left-arrow:before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
	border-top: 15px solid transparent;
	border-right: 15px solid $gray-lighter;
	border-bottom: 15px solid transparent;
}

.new-badge {
  position: absolute;
  right: -15px;
  top: -3px;
}

img.active {
  border: 3px solid $brand-primary;
}

.line-right {
  border-right: 2px solid $gray-lighter;
  height: 60%;
  width: calc(50% + 1px);
}
.red-ball {
  height: 20px;
  width: 20px;
  border: 2px solid $gray-lighter;
  @include border-radius( 50% );
  background-color: $brand-primary;
}

span.material-icons {
  position: relative;
  top: 8px;
  line-height: 0em;
}

.hover-show-item { display: none; }
.hover-show:hover .hover-show-item { display: inline; }

.pagination {
  li {
    @extend .pd-lr-5;
  }
}

.bg-image {
  background-position: right bottom;
  background-repeat: no-repeat;
  @include bp(xs) {
    background-image: none !important;
  };
}


.thumbnail-wrap {
  position: relative;
  height: 0;
  overflow: hidden;
  background-color: $black;
}
.thumbnail-wrap-16x9 { padding-bottom: 56.25%; }
.thumbnail-wrap-4x3 { padding-bottom: 75%; }
.thumbnail-wrap iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.thumbnail-wrap img {
  position: absolute;
  left: 50%;
  @include translateX(-50%);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.play-effect {
  cursor: pointer;
  @include transition(all .1s);
  color: $white;
  border-color: $white;
}
.play-effect::after {
  font-size: 5em;
  @include bp(xs) {font-size: 3em;};
  font-family: 'Material Icons';
  content: "\E037";
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  position: absolute;
  z-index: 100;
  top: 50%; left: 50%;
  @include translate( -50%, -50%);
  // circle
  line-height: 1em;
  border: 2px solid;
  height: 1em; width: 1em;
  @include border-radius(50%);
}
.play-effect:hover {
  color: rgba($white, .8);
  border-color: rgba($white, .8);
}
