a {
  margin: 0;
  padding: 0;
  &:hover {
    color: $gray-light;
  }
}

.link-white {
  a {
    color: $white;
    &:hover {
      color: $gray-lighter;
    }
  }
}

ul {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

h1, h2, h3, h4, h5, h6, p, a{
  color: $gray;
}

.custom-content {
  h1, .h1 { font-size: 20px !important; }
  h2, .h2 { font-size: 18px !important; }
  h3, .h3 { font-size: 17px !important; }
  h4, .h4 { font-size: 16px !important; }
  h5, .h5 { font-size: 15px !important; }
  h6, .h6 { font-size: 14px !important; }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em !important;
    margin-top: 1.1em !important;
    margin-bottom: 1.1em !important;
    font-weight: 500 !important;
  }
  strong {
    font-weight: 500 !important;
  }
  img {
    max-width: 100% !important;
    height: auto !important;
  }
  .video iframe {
    width: 100% !important;
    height: 100% !important;
  }
}

@for $i from 0 to 11 {
  .pd-#{$i*5} {
    padding: #{$i*5}px;
  }
}

@for $i from 0 to 11 {
  .mt-#{$i*5} {
    margin-top: #{$i*5}px;
  }
}

@for $i from 0 to 11 {
  .ml-#{$i*5} {
    margin-left: #{$i*5}px;
  }
}

@for $i from 0 to 11 {
  .mr-#{$i*5} {
    margin-right: #{$i*5}px;
  }
}

@for $i from 0 to 11 {
  .mb-#{$i*5} {
    margin-bottom: #{$i*5}px;
  }
}

@for $i from 2 to 10 {
  .height-#{$i*5} {
    height: #{$i*5}px;
  }
}

@for $i from 1 to 10 {
  .lh-#{$i}em {
    line-height: #{$i}em;
  }
}
@for $i from 1 to 9 {
  .lh-1p#{$i}em {
    line-height: #{1 + $i * 0.1}em;
  }
}

@for $i from 1 to 5 {
  .fz-#{$i}em {
    font-size: #{$i}em;
  }
}

@for $i from 1 to 9 {
  .fz-1p#{$i}em {
    font-size: #{1 + $i*0.1}em;
  }
}
@for $i from 1 to 9 {
  .fz-p#{$i}em {
    font-size: #{$i*0.1}em;
  }
}

@for $i from 1 to 10 {
  .width-#{$i*50} {
    width: #{$i*50}px;
  }
}

@for $i from 1 to 11 {
  .w#{$i*10} {
    width: #{$i*10%} !important;
  }
}
@for $i from 1 to 11 {
  .xs-w#{$i*10} {
    @include bp(xs) {
      width: #{$i*10%} !important;
    };
  }
}

@for $i from 1 to 8 {
  .fw-#{$i*100} {
    font-weight: #{$i*100};
  }
}

.mt-1 { margin-top: 1px; }
.mb-1 { margin-bottom: 1px; }
.ml-m10 { margin-left: -10px; }
.ml-m15 { margin-left: -15px; }
.pl-20 { padding-left: 20px !important; }
.pd-0 { padding: 0; }
.pb-10 { padding-bottom: 10px; }
.pt-10 { padding-top: 10px; }
.pd-lr-5 { padding: 0 5px 0 5px; }
.pd-lr-10 { padding: 0 10px 0 10px; }
.display-xs { display: none !important; }
.display-sm { display: inline !important; }
.display-xs-block { display: none !important; }

@include bp(xs) {
  .xs-pd-0 { padding: 0; }
  .xs-pd-15 { padding: 15px; }
  .xs-pd-lr-5 { padding: 0 5px 0 5px; }
  .xs-margin-0 { margin: 0; }
  .xs-mt-5 { margin-top: 5px; }
  .xs-mt-15 { margin-top: 15px; }
  .xs-mb-15 { margin-bottom: 15px; }
  .xs-mb-40 { margin-bottom: 40px; }
  .xs-mt-0 { margin-top: 0; }
  .xs-mb-0 { margin-bottom: 0; }
  .xs-w100 { width: 100%; }
  .display-xs { display: inline !important; }
  .display-xs-block { display: block !important; }
  .display-sm { display: none !important; }
};

.top-50 {
  top: 50%;
  @include translateY( -50% );
}
@include bp(xs) {
  .xs-top-0 {
    top: 0;
    @include translateY( 0 );
  }
};

.vertical-bottom {
  vertical-align: bottom;
}
.vertical-center {
  vertical-align: middle;;
}

.row-m5 {
  margin-left: -5px;
  margin-right: -5px;
}
.row-m10 {
  margin-left: -10px;
  margin-right: -10px;
}

.relative { position: relative; }
.inline-block { display: inline-block; }
ul.inline-block li { display: inline-block; }
.inline { display: inline; }
.block { display: block; }
.flex { @include flexbox(); }

.xs-flex {
  @include bp(xs) {
    @include flexbox();
  }
}
.xs-flex-column {
  @include bp(xs) {
    flex-direction: column;
  }
}
.xs-flex-row {
  @include bp(xs) {
    flex-direction: row;
  }
}

.color-white { color: $white; }
.color-black { color: $black; }
.color-primary { color: $brand-primary; }
.color-primary-light { color: $brand-primary-light; }
.color-primary-dark { color: $brand-primary-dark; }
.color-gray { color: $gray; }
.color-gray-light { color: $gray-light; }
.bg-primary { background-color: $brand-primary; }
.bg-primary-dark { background-color: $brand-primary-dark; }
.bg-black { background-color: $bg-black-dark; }
.bg-white { background-color: $white; }
.bg-gray { background-color: $gray; }
.bg-gray-light { background-color: $gray-light; }
.bg-gray-lighter { background-color: $gray-lighter; }
.bg-light { background-color: $bg-light; }
.bg-opacity { background-color: $opacity; }

@include bp(xs) {
  .xs-color-white {
    color: $white;
  }
  .xs-border-white {
    border-color: $white;
  }
};

.scroll-x {
  overflow-x: scroll;
  white-space: nowrap;
}
.scroll-y {
  overflow-y: scroll;
}
.overflow-hidden {
  overflow: hidden;
}


// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

@include bp(xs) {
  .xs-order-1 { @include order(1); }
  .xs-order-2 { @include order(2); }
  .xs-order-3 { @include order(3); }
  .xs-order-4 { @include order(4); }
}
.order-1 { @include order(1); }
.order-2 { @include order(2); }
.order-3 { @include order(3); }
.order-4 { @include order(4); }

.border-none { border: none; }
