
.app-promo {
  height: 450px;
  background-image: url("/image/X3 bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include bp(xs) {
    height: 550px;
  };
}
.app-download {
  position: absolute;
  right: 0;
  bottom: 0;
}
.promo-hand {
  position: absolute;
  height: 400px;
  right: 50px;
  bottom: 0;
  z-index: 10;
  @include bp(xs) {
    height: 300px;
    right: 0;
  };
}
.app-icon {
  position: absolute;
  width: 155px;
  right: 142px;
  bottom: 120px;
  z-index: 20;
  @include bp(xs) {
    width: 120px;
    right: 66px;
    bottom: 60px;
  };
}

.show-video {
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
