<div class="form-group">
  <label for="">同步分享至其他社群網站</label>
  <div class="mt-10">

    <div class="inline-block mr-15 xs-margin-0 xs-item-3">
      <div class="onoffswitch facebook">
        <input type="checkbox" name="reg-subscription" class="onoffswitch-checkbox" id="share-fb" checked>
        <label class="onoffswitch-label" for="share-fb">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
    </div>

    <div class="inline-block mr-15 xs-margin-0 xs-item-3">
      <div class="onoffswitch google">
        <input type="checkbox" name="reg-subscription" class="onoffswitch-checkbox" id="share-google">
        <label class="onoffswitch-label" for="share-google">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
    </div>

    <div class="inline-block mr-15 xs-margin-0 xs-item-3">
      <div class="onoffswitch weibo">
        <input type="checkbox" name="reg-subscription" class="onoffswitch-checkbox" id="share-weibo">
        <label class="onoffswitch-label" for="share-weibo">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
    </div>

  </div>
</div>
