<div class="upload-video mt-15">
  <h4>
    <i class="material-icons relative top-5px">&#xE064;</i>
    上傳影片
  </h4>
  <div class="ml-30 xs-margin-0">
    <div class="">
      <span class="inline-block">上傳影片</span>
      <label for="" class="bg-light radius-5 pd-5 ml-15 height-30">格式wmv,avi,mov,flv,mpg</label>
      <input type="file" name="name" value="" class="hidden" id="upload-file">
      <span class="display-xs-block mt-10"></span>
      <label for="upload-file" class="btn btn-sm btn-gray radius-5 ml-10 xs-ml-75">選擇檔案...</label>
      <button type="button" name="button" class="btn btn-sm btn-blue-light radius-5 ml-10">上傳！</button>
    </div>
    <div class="progress xs-mt-15">
      上傳中...
      <span class="progress-bar"></span>
      <span class="progress-ok down ml-5">OK!</span>
    </div>
    <div class="">
      <p>
        將影片提交到 達人網 即表示您同意遵守達人網的
        <a href="#" id="upload-policy">《服務條款》</a>。
      </p>
      <ul class="dot ml-25">
        <li>不允許商業、政治或是任何形式的廣告內容。達人網只允許用於個人和非營利。</li>
        <li>不要上傳電視節目、你在其他網站找到的影片或是遊戲影片。</li>
        <li>當然也不可以上傳成人或是色情內容的影片。</li>
      </ul>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#upload-policy').click(function(event) {
      event.preventDefault();
      var t = $('#upload-policy-popover');
      openPopout(t);
    });
  });
</script>
