<div class="video-info mt-15">
  <h4>
    <i class="material-icons relative top-5px">&#xE02F;</i>
    填寫影片資訊
  </h4>
  <div class="ml-30 xs-margin-0">
    <div class="form-group">
      <label for="video-name">影片名稱</label>
      <span class="notice color-primary ml-15 fw-700">
        影片名稱不得為空白！
      </span>
      <input type="text" name="video-name" value="" placeholder="請輸入影片名稱..." id="video-name" class="form-control border-none bg-light radius-5">
    </div>
    <div class="form-group">
      <label for="video-description">影片描述</label>
      <textarea name="video-description" rows="8" cols="40" placeholder="請輸入影片描述..." id="video-description" class="form-control border-none bg-light radius-5"></textarea>
    </div>
    <div class="form-group">
      <label for="video-category">分類</label>
      <div class="relative">
        <select class="form-control border-none bg-light radius-5" name="video-category" id="video-category">
          <option value="0">請選擇分類</option>
          <option value="cat1">分類1</option>
          <option value="cat2">分類2</option>
          <option value="cat3">分類3</option>
        </select>
        <label for="video-category" class="material-icons inner-btn" style="right: 10px; top:5px;">&#xE313;</label>
      </div>
    </div>
    <div class="form-group">
      <label for="video-privacy">隱私設定</label>
      <div class="relative">
        <select class="form-control border-none bg-light radius-5" name="video-privacy" id="video-privacy">
          <option value="p1">不公開</option>
          <option value="p2">只有關注我的人</option>
          <option value="p3">公開</option>
        </select>
        <label for="video-privacy" class="material-icons inner-btn" style="right: 10px; top:5px;">&#xE313;</label>
      </div>
    </div>

    <% if(shareSwitch) { %>
      <% include ./_share-switch.ejs %>
    <% } %>

  </div>
</div>
