<div class="video-thumbnail mt-15">
  <h4>
    <i class="material-icons relative top-5px">&#xE251;</i>
    選擇縮圖
  </h4>
  <div class="ml-30 xs-margin-0 clearfix">
    <div class="inline-block pd-lr-5 item-3 xs-mt-5 xs-w50">
      <a href="#">
        <img src="http://dummyimage.com/420x240/cccccc/fff&text=thumbnail" alt="" class="w100"/>
      </a>
    </div>
    <div class="inline-block pd-lr-5 item-3 xs-mt-5 xs-w50">
      <a href="#">
        <img src="http://dummyimage.com/420x240/cccccc/fff&text=thumbnail" alt="" class="w100"/>
      </a>
    </div>
    <div class="inline-block pd-lr-5 item-3 xs-mt-5 xs-w50">
      <a href="#">
        <img src="http://dummyimage.com/420x240/cccccc/fff&text=thumbnail" alt="" class="w100 active"/>
      </a>
    </div>
  </div>
</div>
