<div class="content bg-white radius-5 xs-radius-0">
  <div class="border-bottom-gray-1px pd-50 xs-pd-20">

    <div class="title fz-1p2em fw-700 mb-5">關於TOBE達人影音網</div>
    <div class="border-bottom-gray-1px"></div>

    <p>Tobe《達人影音網》是匯集台灣、香港、中國大陸的影音社群網站，是一個以打造專家達人為中心的社群平台，提供達人們上傳、直播教授自己的經驗，讓人邊看邊學，娓娓道來那些學校沒教的事！</p>
    <p>這裡有形形色色、多才多藝的人，美妝達人教妳化妝；深夜食堂美食家和你一起做美食；健身教練小鮮肉帶你塑型瘦身；超強DIY手作達人一起跟他動手改造你的家；省錢達人教你花小錢過好日子等等．在這兒讓你被更多人看見、被更多人聽見！</p>
    <p>在這兒讓任何人都能輕輕鬆鬆表現自己，只要你對自己有信心，願意與他人分享、傳授你的經驗．那麼，你就是我們在尋找的達人．</p>
    <p>你不需要低調，拿起手機開播，人人都是達人！</p>
    <p>快打開達人影音網，開啟你的達人故事，展開你的達人之旅吧！</p>

  </div>
</div>
