<div class="content bg-white radius-5 xs-radius-0">
  <div class="border-bottom-gray-1px pd-50 xs-pd-20">

    <div class="title fz-1p2em fw-700 mb-5">網站理念</div>
    <div class="border-bottom-gray-1px"></div>

    <img src="image/mission_img _900.png" alt="" class="w100 mt-25">

  </div>
</div>
