<div class="content bg-white radius-5 xs-radius-0">
  <div class="border-bottom-gray-1px pd-50 xs-pd-20">

    <div class="title fz-1p2em fw-700 mb-5">服務條款</div>
    <div class="border-bottom-gray-1px"></div>

      <p>  TOBE達人影音網（以下簡稱本網站）是由「祥如國際股份有限公司」（以下簡稱本公司）所建置。本公司係依照以下條款之約定（以下稱「本條款」），提供本公司之一般消費者（下稱「網站使用者」）使用本公司之各項網路資訊服務（下稱「網站服務」），欲使用本公司之各項網站服務者請務必詳細閱讀本條款相關內容以保障權益，當網站使用者已開始使用本公司之各項網站服務時，視為該網站使用者已確實閱讀、瞭解並同意遵守本條款。網站使用者於本條款為任何修改或變更後仍繼續使用本公司各項服務時，視為網站使用者已確實閱讀、瞭解並同意遵守本條款之修改或變更。</p>
      <p>用戶若使用本服務即視同承諾本條款之內容，並同意受本條款之規範。另外，未滿20歲之用戶欲使用會員服務時，需取得法定代理人同意。若未滿20歲之用戶經已註冊得以使用會員服務之帳戶資料時，視為其已取得法定代理人同意。</p>
      <p>
        <div class="fw-700 mb-5">第1條（定義）</div>
        本條款中之各用語定義如下。<br>
        (1)「內容」(contents)，係指文章、聲音、音樂、影像、動畫、軟體、程式、代碼或其他資料。<br>
        (2)「本內容」，係指可透過本服務進行存取之內容 (contents)。<br>
        (3)「投稿內容」，係指用戶於本服務上投稿、送出、上傳之內容 (contents)。<br>
        (4)「會員服務」係指本條款之中，已依據本條款註冊帳戶資料之用戶，得在本服務中以本人之帳戶所使用之各項服務。
      </p>
      <p>
        <div class="fw-700 mb-5">第2條（帳戶）</div>
        1 當用戶在使用本服務，並註冊與用戶本人有關之資料時，應提供真實、正確且完全之資料，並應隨時更新為最新狀態。<br>
        2 當用戶使用本服務並註冊密碼時，應以自身責任確實保管密碼，以防止遭他人惡用。本公司得將利用已註冊密碼所造成一切行為，視為用戶本人之行為。<br>
        3當本公司判斷用戶違反本條款，或用戶具有違反本條款之風險時，本公司得不事先通知用戶，逕行停止或刪除帳戶。<br>
        4 本服務之帳戶，為用戶本人專屬。用戶於本服務中之所有使用權，不得讓渡、借貸予第三人，亦不得使第三人繼承。
      </p>
      <p>
        <div class="fw-700 mb-5">第3條（服務之提供）</div>
        1 用戶利用本服務時，應以用戶自身費用及責任，準備必要之個人電腦、行動電話、通訊設備、操作系統、通訊手段及電力等，備妥可使用本服務之環境。
        2 當本公司判斷為必要狀況時，得不事先通知用戶，逕行追加或變更服務內容，或對服務予以使用限制。
      </p>
      <p>
        <div class="fw-700 mb-5">第4條（智慧財產權等）</div>
        1 本公司針對本數位內容，給予用戶非獨占性、不得讓渡及再許可、僅以使用本服務為唯一目的之使用權。<br>
        2 用戶利用本數位內容時，不得超出本服務所預設之使用樣態。<br>
        3 本服務可能包含可讓複數用戶進行投稿、修正、刪除等編輯項目之功能。此時，用戶應同意其他用戶編輯自己的投稿內容。<br>
        4 用戶於本服務上提供投稿內容時，視為同意本公司得無償且非獨占性使用投稿內容之權利（含複製權、公眾放送權、頒布權、貸與權、讓渡權、翻譯權、上映權、變更權等，但不限於上述類型。），亦同意本公司得基於服務、廣告或宣傳之目的，以無償、無期限、不限地域之方式，使用投稿內容。<br>
        5 當本公司判斷於業務上具必要性時，得確認投稿內容之相關內容。惟本公司並未負有此種確認義務。<br>
        6 當本公司判斷用戶的投稿內容違反法令或本條款，或足認為有違反之可能性，抑或其他具業務上必要性時，得不事先通知用戶，逕行以刪除投稿內容等方式，對本服務上之投稿內容予以限制。<br>
        7 關於用戶所提供之投稿內容，若受第三人請求、索賠、收受警告信、假處分或起訴時，用戶應本於自身責任及費用解決該紛爭。用戶應向本公司賠償於該紛爭中對本公司所造成一切損害（含間接損害、衍生損害、結果損害、所失利益及律師費用等）。
      </p>
      <p>
        <div class="fw-700 mb-5">第5條（個人資料等之處理）</div>
        本公司對於符合「用戶之個人資料等」定義之資料，皆依據本公司隱私條款進行適當處理。
      </p>
      <p>
        <div class="fw-700 mb-5">第6條（本服務之停止、終止）</div>
        1 當發生下列任一款事由時，本公司得不事先通知用戶，隨時停止本服務全部或部分內容。<br>
        (1) 定期或緊急保養與本服務提供之有關設備等時<br>
        (2) 因為與本服務相關之系統或通訊線路等發生故障、火災、停電或其他意外事故，或因天然災害、社會動亂，抑或第三人之破解等其他針對本服務之妨礙行為，或因為與上述原因相關連之要素，致使無法提供本服務時<br>
        (3) 於營運上或技術上，本公司判斷應停止本服務時<br>
        (4) 因為基於法律、法令等措施，致使無法提供本服務時<br>
        (5) 其他本公司判斷為必要狀況時<br>
        2 本公司基於本條而停止或終止本服務全部或部分內容時，即便會員因此受有損害，本公司亦不負任何責任
      </p>
      <p>
        <div class="fw-700 mb-5">第7條（禁止行為）</div>
        用戶在使用本服務時，不得做出下列各款行為，或是可能之行為。<br>
        (1) 使用他人註冊之電子信箱、密碼或其他帳戶資料，抑或盜用他人身分（含本公司或本公司相關企業及合作企業）<br>
        (2) 送出或寫入會妨礙、破壞、限制、操作「電腦軟體、硬體、通訊設備等設備功能」之電腦病毒、檔案、程式<br>
        (3) 投稿內容具有會使第三人感到不悅之表現，包含與猥褻/殘虐/歧視之相關表現、誘發自殺、自殘行為、藥物濫用之表現或其他反社會性內容<br>
        (4) 侵害本公司或第三人之所有權、智慧財產權、名譽、信用、肖像、隱私等權利<br>
        (5) 刻意散佈與本公司或第三人相關之虛偽情報<br>
        (6) 違反公序良俗<br>
        (7) 將同樣或類似投稿內容寄送予不特定多數用戶（本公司認可者除外）或其他由本公司判斷為發送垃圾郵件之行為。<br>
        (8) 未獲本公司同意，便擅自執行與本服務相關之營業、宣傳、廣告、勸誘或其他以營利為目的之行為<br>
        (9) 辦理老鼠會、違法之多層次傳銷或其他違法事業，或從事與其類似之活動<br>
        (10) 非法收集、公開或提供他人之個人資料、註冊資料、使用記錄等<br>
        (11) 未獲本公司同意，便擅自複製、編輯、變更、頒布或轉賣本服務中所提供之資訊或服務<br>
        (12) 違反法律、法令等<br>
        (13) 對反社會勢力提供勸誘、利益供給或其他協助行為<br>
        (14) 進行宗教活動或勸誘他人加入宗教團體<br>
        (15) 對第三人提供援助，使第三人做出符合前列各款之行為，或助長第三人做出符合前列各款之行為<br>
        (16) 其他由本公司判斷為不適當之行為
      </p>
      <p>
        <div class="fw-700 mb-5">第8條（免責）</div>
        1 本公司不保證本服務內容正確性以及對於特定目的之適用性。<br>
        2 用戶即便因使用本服務而遭受損害，亦不得向本公司請求賠償。惟當該損害係肇因於本公司之故意或重大過失時，不在此限。<br>
        3 當用戶使用本服務對第三人造成損害時，應以自身負擔及責任自行處理紛爭。
      </p>
      <p>
        <div class="fw-700 mb-5">第9條（使用條款之修訂）</div>
        當本公司判斷為必要狀況時，本公司得不事先通知用戶，隨時修訂本條款。修訂後之本條款，自登載於本服務內適切位置起生其效力。用戶於本條款修訂後仍持續使用本服務時，視為同意本條款之修訂。
      </p>
      <p>
        <div class="fw-700 mb-5">第10條 賠償責任限制</div>
        網站使用者如無法使用本公司網站服務時，其所致生之任何直接、間接、衍生、或特別損害等，本公司均不負任何賠償責任。若網站使用者使用之服務係屬有價者，本公司僅於網站使用者所付對價範圍內負賠償責任。但前述賠償責任限制，若依法不得限制者，則限制規定將不予適用。
      </p>
      <p>
        <div class="fw-700 mb-5">第11條 特別同意事項</div>
        網站使用者同意絕不使用本公司網站之服務傷害、侵犯、誹謗或攻擊本公司、本公司之負責人、員工、顧問、關係企業、廣告主以及相關合作廠商。
      </p>
      <p>
        <div class="fw-700 mb-5">第12條（準據法規、合意管轄）</div>
        關於本服務條款之解釋或適用，以中華民國之法律為準據法。網站使用者因使用本服務而與本公司所生之爭議，同意依誠信原則解決之，如有訴訟之必要時，同意以台灣台北地方法院為第一審管轄法院。
      </p>


  </div>
</div>
