<div class="content bg-white radius-5 xs-radius-0">
  <div class=" pd-50 xs-pd-20">

    <div class="title fz-1p2em fw-700 mb-5">服務條款</div>
    <div class="border-bottom-gray-1px"></div>

      <p>ToBe達人影音網（以下簡稱本網站）是由「祥如國際股份有限公司」（以下簡稱本公司）所建置。本公司係依照以下條款之約定（以下稱「本條款」），提供您使用本公司及本網站之各項網路資訊服務（以下統稱「本服務」），欲使用本服務者請務必詳細閱讀本條款相關內容以保障權益。</p>
      <p>當您已開始使用本服務時，視為您已確實閱讀、瞭解並同意遵守本條款，您同意如您有違反本條款時，本公司得隨時依據相關規則暫停或終止您使用本服務。</p>
      <p>本公司有權於任何時間修改或變更本條款之內容或暫停、終止本服務，且毋須另行通知。本條款一旦發生變動，本公司將在本網站公佈修改內容，建議您隨時注意該等修改或變更。您於本條款為任何修改或變更後仍繼續使用本服務時，視為您已確實閱讀、瞭解並同意遵守本條款之修改或變更。</p>
      <p>另外，無行為能力人或限制行為能力人，於使用本服務前應使您的法定代理人閱讀、瞭解並同意本條款之所有內容及其後修改變更後，方得使用或繼續使用本服務。當您使用或繼續使用本服務時，即推定您的法定代理人已閱讀、瞭解並同意接受本條款之所有內容及其後修改變更。</p>
      <p>如您不同意本條款之內容及或不同意本公司得隨時修改之，又或者您所屬的國家或地域排除本條款內容之全部或一部時，請您立即停止使用本服務。</p>
      <p>
        <div class="fw-700 mb-5">第1條（定義）</div>
        本條款中之各用語定義如下。<br>
        (1)「內容」(contents)，係指文章、聲音、音樂、影像、動畫、軟體、程式、代碼或其他資料。<br>
        (2)「本內容」，係指可透過本服務進行存取之內容 (contents)。<br>
        (3)「投稿內容」，係指您於本服務上投稿、送出、上傳之內容 (contents)。<br>
        (4)「會員服務」係指您已依據本條款申請帳戶註冊，得在本服務中以該帳戶所使用之各項服務。
      </p>
      <p>
        <div class="fw-700 mb-5">第2條（帳戶）</div>
        1 為使用本服務，您應依本公司之要求提供您本人真實、正確、最新且完全之資料(下稱註冊資料)於本網站註冊登記，並應隨時更新註冊資料為最新狀態。<br>
        2 完成註冊登記後，您得以註冊之帳號密碼使用本服務。您應以自身責任確實保管帳號密碼，以防止遭他人惡用。所有使用您帳號密碼之一切行為，均視為您本人之行為。<br>
        3 若您提供任何錯誤、不實、過時或不完整或具誤導性的資料；或者本公司有理由懷疑註冊資料為錯誤、不實、過時或不完整或具誤導性的，本公司有權暫停或終止您的帳號，並拒絕您於現在和未來使用本服務之全部或任何部分。<br>
        4 當您違反本條款或有違反本條款之虞時，本公司得不事先通知，逕行停止或刪除您的帳戶或暫停您使用本服務。<br>
        5 本服務之帳戶，為您本人專屬。您於本服務中所有使用權利，不得讓渡、移轉或借予第三人使用，亦不得使第三人承受。
      </p>
      <p>
        <div class="fw-700 mb-5">第3條（您使用本服務之義務）</div>
        1 本服務係提供您一個與他人分享、傳授你的經驗之園地，您保證絕不以任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例，並保證不利用本服務從事侵害他人權益或違法之行為，且同意遵守下列規定。若有違反情事，本公司除得依本服務或相關管理規範處理，並得逕行停止您繼續使用本服務。又您違反本條規定致政府機關或第三人之追究責任，概由您自行負責，而與本公司無涉，若因此使本公司受有損失，本公司得請求您賠償本公司因此所受之損害(包括但不限於訴訟費用及律師費)。 <br>
          (1)不得使用程式或其他方法自動大量申請或蒐集他人檔案作為廣告或寄送廣告資料之用。 <br>
          (2)不得使用程式或其他方法干擾本服務系統之正常運作或傳輸、散佈電腦病毒。 <br>
          (3)不得將本服務用作商業用途（包括但不限於張貼商業廣告、收集用戶資料等）。 <br>
          (4)不得註冊多組帳號於本服務進行騷擾或影響其他會員使用之行為，或是以分身帳號從事影響本網站使用環境及公平性的行為，一經舉報並查證屬實，本公司將對被檢舉人所有帳號一律停權並禁止繼續使用本服務。 <br>
          (5)請勿於與任何本服務之使用者有金錢上的交易往來，若因此蒙受損失，請自負相關責任。 <br>
          (6)不得於本服務公布自己或他人之全名、地址、電話號碼及其他可供識別之個人資料。 <br>
        2 您保證您上傳、刊登或任何其他方式傳送至本網站的文字、影音檔、圖形、照片或其他資料（即「投稿內容」），絕無違反法令規定或侵害第三人權利之情事。如有違反，由您自行負擔相關法律責任，而與本公司無涉，若因而致本公司受有損失，本公司並得向您請求損害賠償(包括但不限於律師費用與訴訟費用) <br>
        3 若您有違反前兩項約定之情事，本公司得逕行取下該涉嫌違法或侵權之內容或相關資訊。 <br>
        4 您使用本服務時，您應以自身費用及責任，準備所需之所有軟硬體設備、網路連線及頻寬(包括但不限於個人電腦、行動電話、通訊設備、操作系統、通訊手段及電力等)，以使用本服務。<br>
        5 您利用本服務時，不得超出本服務所預設之使用樣態。
      </p>
      <p>
        <div class="fw-700 mb-5">第4條（本公司之聲明）</div>
        1 任何經由本服務以上傳、張貼或任何其他方式傳送的資訊、資料、文字、軟體、音樂、音訊、照片、圖形、視訊、資訊或其他資料（即「投稿內容」），均由該投稿內容提供者自行承擔責任。<br>
        2 本公司無法控制經由本服務傳送之「投稿內容」，因此不保証其正確性、完整性或品質。您了解使用本服務時，可能會接觸到非您所預想之「投稿內容」。在任何情況下，本公司均不為任何投稿內容負責，包含但不限於任何投稿內容之任何錯誤或遺漏，以及經由本服務以張貼或其他方式傳送任何內容而衍生之任何損失或損害。<br>
        3 您了解本公司無法對「投稿內容」加以事先審查，對站上使用者之使用行為亦無法進行全面控制，您使用任何投稿內容時，包括依賴投稿內容之正確性、完整性或實用性時，您同意將自行加以判斷並承擔所有風險，而不依賴本公司。但本公司有權（但無義務）依自行之考量，拒絕和移除經由本服務提供之違反本服務條款、未符本服務達人經驗分享之使用目的或其他引起反感之任何內容。您瞭解並同意，本公司基於以下目的之合理必要範圍內，認定必須將「投稿內容」加以保存或揭露予政府機關、司法警察或未成年人之監護人時，得加以保存及揭露： <br>
          (1) 遵守法令或政府機關之要求。<br>
          (2) 為提供本服務所必須者。<br>
          (3)為防止他人權益之重大危害而有必要者。<br>
          (4)為免除使用者及公眾之生命、身體、自由、權利、財產上之急迫危險者。<br>
          (5)其他本公司認為有必要的情況。<br>
        4 若您有任何違反本條款、相關法令，或有危害本公司、第三者權益之虞時，本公司有權逕行移除該等違反規定之「投稿內容」或您的整個個人檔案，並得暫停或終止您使用本服務。<br>
        5 本公司僅依現時之功能及現況提供您使用本服務，本公司不保證本服務一定符合您的期待，本公司並保留隨時修改各項服務功能之全部或一部之權利。<br>
        6 本公司有權於任何時間暫時或永久修改或終止本服務（或其任何部分），而無論其通知與否，您同意對於本服務所作的任何修改、暫停或終止，本公司對您和任何第三人均無需承擔任何責任。<br>
        7 本公司不保證本服務系統穩定絕無中斷之情事，您應自行隨時確認您所上傳或刊載之訊息是否正確、並自行採取備份存檔等保護措施。本公司對於您使用或無法使用本服務而造成之損害均不負賠償責任。<br>
        8 本服務可能會提供連結至其他外部連結，您可能因此連結其他業者經營或銷售之網站，惟不代表本公司與該等業者有任何關係，本公司不控制且不對第三方網站的內容、隱私政策與行為承擔責任。如您因使用或依賴任何此類網站或資源發佈的或經由此類網站或資源獲得的任何內容、商品或服務所產生的任何損害或損失，概由您自行負責，本公司不負任何直接或間接之責任。<br>
        9 您使用本服務所生之一切資料(包括但不限於文字、圖檔、影音檔等)，均由您自行備份存檔，本公司不負保管之責。<br>
        10 您同意如因本服務出現中斷或故障等現象，而造成您使用上的不便、資料喪失、錯誤、或其他損害時，本公司毋須負任何法律責任。<br>
        11 您因使用本服務所受損害，本公司不負賠償責任，若可歸責於本公司之故意或重大過失所致者，不在此限。
      </p>
      <p>
        <div class="fw-700 mb-5">第5條（智慧財產權及授權）</div>
        1 本服務所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由本公司或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得本公司或其他權利人的事前書面同意。如有違反前述規定，您應對本公司負損害賠償責任（包括但不限於訴訟費用及律師費用等）。<br>
        2 一經您上載、傳送、輸入或提供投稿內容至本網站時，視為您已允許本公司或本網站可以基於推廣或行銷本服務或相關活動等目的，無條件使用、修改、重製、公開播送、改作、散布、發行、公開發表該等資料，您對此絕無異議。您並應保證本公司或本網站使用、修改、重製、公開播送、改作、散布、發行、公開發表該等投稿內容，不致侵害任何第三人之智慧財產權。
      </p>
      <p>
        <div class="fw-700 mb-5">第6條（個人資料蒐集與處理）</div>
        本公司對於符合「用戶之個人資料等」定義之資料，皆依據本公司隱私權聲明進行適當處理。關於您個人資料之搜集、處理、利用，請參閱本網站隱私權聲明連結，以查閱完整的隱私權聲明。
      </p>
      <p>
        <div class="fw-700 mb-5">第7條（本服務之停止、終止）</div>
        1 當發生下列任一款事由時，本公司得不事先通知用戶，隨時停止本服務全部或部分內容。<br>
        (1) 定期或緊急保養與本服務提供之有關設備等時<br>
        (2) 因為與本服務相關之系統或通訊線路等發生故障、火災、停電或其他意外事故，或因天然災害、社會動亂，抑或第三人之破解等其他針對本服務之妨礙行為，或因為與上述原因相關連之要素，致使無法提供本服務時<br>
        (3) 於營運上或技術上，本公司判斷應停止本服務時<br>
        (4) 因為基於法律、法令等措施，致使無法提供本服務時<br>
        (5) 其他本公司判斷為必要狀況時<br>
        2 本公司基於本條而停止或終止本服務全部或部分內容時，即便會員因此受有損害，本公司亦不負任何責任
      </p>
      <p>
        <div class="fw-700 mb-5">第8條（禁止行為）</div>
        您除應遵守第3條約定外，您在使用本服務時，亦不得做出下列各款行為，或是可能之行為。 <br>
        (1) 使用他人註冊之電子信箱、密碼或其他帳戶資料，抑或盜用他人身分（含本公司或本公司相關企業及合作企業） <br>
        (2) 送出或寫入會妨礙、破壞、限制、操作「電腦軟體、硬體、通訊設備等設備功能」之電腦病毒、檔案、程式 <br>
        (3) 投稿內容具有會使第三人感到不悅之表現，包含與猥褻/殘虐/歧視之相關表現、誘發自殺、自殘行為、藥物濫用之表現或其他反社會性內容 <br>
        (4) 侵害本公司或第三人之所有權、智慧財產權、名譽、信用、肖像、隱私等權利 <br>
        (5) 刻意散佈與本公司或第三人相關之虛偽情報 <br>
        (6) 違反公序良俗 <br>
        (7) 將同樣或類似投稿內容寄送予不特定多數用戶（本公司認可者除外）或其他由本公司判斷為發送垃圾郵件之行為。 <br>
        (8) 未獲本公司同意，便擅自執行與本服務相關之營業、宣傳、廣告、勸誘或其他以營利為目的之行為 <br>
        (9) 辦理老鼠會、違法之多層次傳銷或其他違法事業，或從事與其類似之活動 <br>
        (10) 非法收集、公開或提供他人之個人資料、註冊資料、使用記錄等 <br>
        (11) 未獲本公司同意，便擅自複製、編輯、變更、頒布或轉賣本服務中所提供之資訊或服務 <br>
        (12) 違反法律、法令等 <br>
        (13) 對反社會勢力提供勸誘、利益供給或其他協助行為 <br>
        (14) 進行宗教活動或勸誘他人加入宗教團體 <br>
        (15) 對第三人提供援助，使第三人做出符合前列各款之行為，或助長第三人做出符合前列各款之行  <br>
        (16) 其他由本公司判斷為不適當之行為 <br>
      </p>
      <p>
        <div class="fw-700 mb-5">第9條（終止服務）</div>
        1您同意本公司得基於其自行之考量，因任何理由，包含但不限於本公司認為您已經違反本條款之規定及精神，終止您的密碼、帳號或本服務之使用（或本服務之任何部分），並將您在本服務內之任何內容加以移除並刪除。本公司亦得依其自行之考量，於通知或未通知之情形下，隨時終止本服務或其任何部分。您同意依本條款任何規定提供之本服務，無需進行事先通知即可中斷或終止，您承認並同意，本站可立即關閉或刪除您的帳號及您帳號中所有相關資訊及檔案，及禁止繼續使用前述檔案或本服務。此外，您同意若本服務之使用被中斷或終止或您的帳號及相關資訊和檔案被關閉或刪除，本公司對您或任何第三人均不承擔任何責任。<br>
        2如有下列之情形，本公司除依照前項之規定處理，並得隨時終止本服務：<br>
        (1) 政府機關或是司法單位要求<br>
        (2) 九十天未登入<br>
        (3) 預期外的機器或是安全問題<br>
        (4) 涉入不法行為<br>
        (5) 未給付與本服務有關的費用
      </p>
      <p>
        <div class="fw-700 mb-5">第10條 賠償責任限制</div>
        您如無法使用本公司網站服務時，其所致生之任何直接、間接、衍生、或特別損害等，本公司均不負任何賠償責任。若網站使用者您使用之服務係屬有價者，本公司僅於網站使用者您所付對價範圍內負賠償責任。但前述賠償責任限制，若依法不得限制者，則限制規定將不予適用。
      </p>
      <p>
        <div class="fw-700 mb-5">第11條 特別同意事項</div>
        您同意絕不使用本公司網站之服務傷害、侵犯、誹謗或攻擊本公司、本公司之負責人、員工、顧問、關係企業、廣告主以及相關合作廠商。
      </p>
      <p>
        <div class="fw-700 mb-5">第12條（準據法規、合意管轄）</div>
        關於本服務條款之解釋或適用，以中華民國之法律為準據法。您因使用本服務而與本公司所生之爭議，同意依誠信原則解決之，如有訴訟之必要時，同意以台灣台北地方法院為第一審管轄法院。
      </p>
      <p>
        <div class="fw-700 mb-5">第13條（檢舉）</div>
        倘發現任何人有違反本條款之情事，請以電子郵件和ToBe達人影音網客服中心聯絡。
      </p>


  </div>
</div>
