<div class="content bg-white radius-5 xs-radius-0">
  <div class="border-bottom-gray-1px pd-50 xs-pd-20">

    <div class="title fz-1p2em fw-700 mb-5">隱私權聲明</div>
    <div class="border-bottom-gray-1px"></div>
      <p>ToBe 達人影音網（以下簡稱本網站），係由祥如國際股份有限公司（以下簡稱本公司）為提供您完善與多元的會員服務，本公司謹依中華民國個人資料保護法（以下簡稱個資法）與本「隱私權聲明」蒐集、處理及利用您的個人資料，向您說明本網站於線上蒐集您個人資料之目的、方式、範圍、運用以及就您提供之個人資料得行使之相關權利。</p>
      <p>您在使用本網站時，應詳細閱讀並遵從本聲明，當您繼續使用本網站服務時，即視為已閱讀、瞭解並完全同意本聲明的所有約定，且同意本公司蒐集、處理及利用您的個人資料，如您不同意本聲明之內容，您應立即停止使用本網站。本公司對於本服務中與用戶相關的各種資料，依據下列方式進行處理。</p>
      <p>
        <div class="fw-700 mb-5">1 隱私條款適用範圍</div>
        本隱私聲明適用於與ToBe達人影音網相關所有服務（以下稱為「本服務」）。<br>
        您在使用本服務時所提供予本公司之個人資料等，以及本公司透過本服務所收集之使用者個人資料等，皆依據本隱私聲明進行管理。 惟您藉由本服務上之連結前往外部服務並使用該外部服務時，您透過該外部服務所提供或被收集之用戶/使用者個人資料等，不在本隱私聲明之適用範圍內，不包含在此條內。
      </p>
      <p>
        <div class="fw-700 mb-5">2 請用戶提供之資料</div>
        檔案資料、個人資料等、投搞內容<br>
        基於順利使用本服務，讓用戶彼此間能夠圓滿交流等目的，本服務會請您提供相關檔案資料（於本服務上所顯示之名稱、圖像、訊息等）、姓名與出生年月日等。另外，其他用戶亦可閱覽為顯示在本服務上而由用戶自行登錄的檔案資料，或為向其他用戶公開而由用戶本身自行註冊、發布之資料（文字、影像、動畫等）。您可自由選擇是否註冊，但未註冊可能會無法使用本服務全部或部分內容。<br>
        服務使用資料<br>
        (1) 基於行動定位用、交通調查用等為了提高服務品質之目的，本服務會使用Cookie。另外，本服務亦可能會使用Google Analytics。用戶可自由選擇是否使用Cookie，但不儲存Cookie可能會無法使用本服務之部分內容，請用戶留意。<br>
        (2) 本服務會分析您使用本服務時的IP位址、瀏覽器種類、瀏覽器語言、使用者環境等，並為提供更為優質之服務，或阻隔妨礙正常服務之非法行為而使用上述資料。<br>
        (3) 本服務之部分功能有利用行動電話等設備所送出的位置資訊。您使用該項服務時，會於該服務必要之範圍內使用該資訊。另外，在行動電話等設備的設定中，未允許設備送出位置資訊時，並不會送出位置資訊。<br>
        (4) 本服務可能會取得用戶所使用的設備資料（OS、終端設備的個體辨識資料、電腦名稱等）。本公司將基於提供更優質之服務、確認是否為本人或阻隔妨礙正常服務之非法行為等目的，使用上述資料。
      </p>
      <p>
        <div class="fw-700 mb-5">3 資料之使用目的</div>
        本公司僅會為下列目的而使用個人資料等。另外，統計資料等或已進行加工處理致使無法辨認出特定個人之資料，不包含在個人資料內。<br>
        (1) 實施本服務<br>
        (2) 客服諮詢等支援服務<br>
        (3) 實施問券調查，以及根據問券調查結果製作商品及販賣企劃之統計資料<br>
        (4) 對用戶發送與本服務相關之電子郵件及活動訊息<br>
        (5) 將本公司之其他與本服務相關的廣告訊息，或本公司以外之企業擔任廣告主的廣告訊息告知或寄送電子郵件給用戶<br>
        (6) 將使用者/用戶所發布之內容登載在本公司之官方SNS（Facebook、Twitter等）、橫幅式廣告、傳單、海報等廣告媒體上，作為本公司之廣告宣傳<br>
        (7) 寄送禮物及獎品等<br>
        (8) 其他為行銷本公司本服務或其他服務之用。<br>
        (9) 除上述目的外，當本公司之目的已取得個別用戶/會員之同意時
      </p>
      <p>
        <div class="fw-700 mb-5">4 公開、提供資料</div>
        除下列各項情形以外，本公司決不向第三人（本公司為達成利用個人資料等之目的，而於必要範圍內委託他人處理全部或部分個人資料時不在此限）公開或提供用戶之個人資料等。<br>
        (1) 為執行企業等應遵從之法律上義務時<br>
        (2) 當法院、檢察署、警察、律師團體、消費者申訴中心或性質上與上述機關相同之其他團體/個人提出請求，或本公司基於法規、各項規定而受提供、公開之請求時<br>
        (3) 發生「本公司判斷為若不提供相關資料，不足以保護公眾或其他用戶/會員生命身體財產或名譽信用」之相當事由時<br>
        (4) 本公司在執行業務上之必要範圍內，向律師或其他在法律上負有保密義務之人提供相關資料時<br>
        (5) 為了提供您其他服務或優惠權益，需要與提供該服務或優惠之第三者共用您的資料時，我們將在活動時提供充分說明，並且在資料蒐集之前通知您，您接受這項特定服務或優惠時。<br>
        (6) 您的行為已明顯違反本公司服務條款或其他規定，或有損害或妨礙本公司權益，或導致任何人遭受損害之虞時，為了進行身份辨識、聯絡或採取法律行動所必要時。<br>
        (7) 為符合法律或依法律授權之命令所要求時。<br>
        (8) 基於公共利益之考量而有必要時。<br>
        (9) 除上述情形外，當本公司已取得個別用戶之同意時
      </p>
      <p>
        <div class="fw-700 mb-5">5 個人資料之類別</div>
        (1) 當您在本公司網站註冊帳號、瀏覽本公司或合作廠商之網頁、進行交易、使用網站服務、參與社群言論發表、參加網站活動或遊戲，或使用本網站其他服務時，本公司將可能會蒐集會員以下各類的個人資料：<br>
          ①C001辨識個人者：如會員之姓名、地址、電話、電子郵件等資訊。<br>
          ②C002辨識財務者：如信用卡或金融機構帳戶等資訊。<br>
        (2) 加入會員：當您註冊成為本公司會員時，將請您提供個人資料，包括但不限於真實姓名、電話、住址、電子信箱、性別、出生日期等資料。詳細個人基本資料項目請您參閱會員註冊頁面欄位。<br>
        (3) 資訊提供服務：當您使用本公司之服務平台、應用軟體而獲取資訊時，除請您提供上述會員資料外，可能會亦會請您提供信用卡或銀行等財務資料。<br>
        (4) 參與線上活動：本公司有可能不定期舉辦線上活動，當您參與本公司舉辦的線上活動時，將請您提供可供聯絡與核對真實身分之必要個人資料。如您不願提供前述必要個人資料，您將無法參與線上活動。<br>
        (5) 因其他活動而有蒐集您的個人資料時，其個人資料項目請您參閱該活動相關欄位。
      </p>
      <p>
        <div class="fw-700 mb-5">6 個人資料利用期間、地區、對象及方式</div>
        (1) 期間：個人資料蒐集之特定目的存續期間、依相關法令或契約約定之保存年限或本公司因執行業務所必需之保存期間。<br>
        (2) 地區：中華民國境內。若涉及境外之國際傳輸，本公司將於充份確保您的個人資料安全及法律未禁止的情形下，才會進行。<br>
        (3) 對象：本公司、未受主管機關限制之國際傳輸個人資料之接收者、業務委外機構以及具有合作關係之第三人。如果本服務全部或部分業務被其他公司收購或合併，本公司會將您的個人資料轉移給該公司。<br>
        (4) 方式：以自動化機器或其他非自動化之利用方式。
      </p>
      <p>
        <div class="fw-700 mb-5">7 所得行使之相關權利</div>
        (1) 依法就您的個人資料享有下列權利：<br>
          1 請求提供查詢或閱覽。<br>
          2 請求製給複製本。<br>
          3 請求補充缺漏或更正錯誤。<br>
          4 請求停止蒐集、處理或利用。<br>
          5 請求刪除。<br>
        (2) 如會員申請前條①、②之服務時，本公司得酌收必要成本費用，本公司將於30個工作日內提供，必要時得延長30工作日並以書面說明原因，但有下列情形者得不予提供：<br>
          1 有妨害國家安全、外交及軍事機密、整體經濟利益或其他國家重大利益之虞時。<br>
          2 有妨害公務機關執行法定職務之虞時。<br>
          3 妨害本公司或第三人之重大利益之虞時。<br>
        (3) 如會員申請前(1)項第③、④、⑤之服務時，本公司將於申請後三十個工作日內提供，必要時得延長三十個工作日並以書面說明原因，但有下列情形者得不予辦理：<br>
          1 因本公司執行業務或履行法定義務所必須者。<br>
          2 經您書面同意者。<br>
        (4) 您如欲申請上述服務，得隨時以電子郵件、客服電話聯絡通知本公司客服中心，客服中心於收到您的來信聯絡後，會確認您的會員身分，完成確認程序後，即完成申請。
      </p>
      <p>
        <div class="fw-700 mb-5">8 不提供個人資料所致權益之影響</div>
        您可自由選擇是否提供您的個人資料，惟若您選擇拒絕提供與本公司，您將無法註冊成為本公司會員、接收本公司提供之相關資訊及服務，或無法獲得相關優惠、活動或行銷訊息等。
      </p>
      <p>
        <div class="fw-700 mb-5">9 您就個人資料之保密協力義務</div>
        凡是透過本網站之公開區域所主動揭露的個人資料，均可能被第三人蒐集或使用，請您妥善維護帳號、密碼或任何個人資料，不要將任何個人資料，尤其是密碼提供給任何人。在您完成需要登入會員才能使用的服務平台或應用軟體功能後，請務必做會員登出動作，若您與他人共用電腦或使用公共電腦，務必要關閉瀏覽器視窗，以防止他人讀取您的信件或任何個人資料。<br>
        如會員自行於本網站公開區域揭露帳號、密碼或任何個人資料，致資料被竊取、洩漏、竄改或發生其他侵害者，本公司並無查明、通知的義務，亦不負害賠償責任。
      </p>
      <p>
        <div class="fw-700 mb-5">10 資訊安全</div>
        本公司會採取適當的安全措施，來防止未經授權的資料存取、竄改、披露或損毀，其中包括就資料的蒐集、儲存、處理慣例和安全措施進行內部審查，以及實體的安全措施，以防止本公司儲存個人資料的系統遭到未經授權的存取。但網際網路資料的傳輸不能保證百分之百的安全，儘管本公司努力保護您的個人資料安全，然因資料傳輸過程涉及您上網環境保障之優劣，本公司無法確信或保證您傳送或接收本網站資料的安全，您仍須注意並承擔資料傳輸之風險。
      </p>
      <p>
        <div class="fw-700 mb-5">11 本隱私聲明之修訂</div>
        本公司可能會未經預告即變更、修訂上述內容。發生前述狀況時，本公司會於本服務內之適切位置及本網頁上登載經過變更、修訂後之內容。如果您於修訂後仍繼續使用，則視為您同意該等條款之修改。若您不同意該等變更或修改，請停止繼續使用本公司服務，並依本隱私權聲明規定通知本公司停止蒐集、處理及利用您的個人資料。
      </p>
      <p>
        <div class="fw-700 mb-5">12 問題詢問</div>
        您如果對於ToBe達人影音網站隱私權聲明、或與個人資料有關之相關事項有任何疑問，可以利用電子郵件和ToBe達人影音網客服中心聯絡。
      </p>

  </div>
</div>
