<div class="content bg-white radius-5 xs-radius-0">
  <div class="border-bottom-gray-1px pd-50 xs-pd-20">

    <div class="title fz-1p2em fw-700 mb-5">Tobe達人影音網隱私權聲明</div>
    <div class="border-bottom-gray-1px"></div>
      <p>Tobe 達人影音網（以下簡稱本網站），係由祥如國際股份有限公司（以下簡稱本公司）為提供您完善與多元的會員服務，我們謹依個人資料保護法（以下簡稱個資法）與本「隱私權政策」蒐集、處理及利用您的個人資料，向您說明本網站於線上蒐集您個人資料之目的、方式、範圍、運用以及就您提供之個人資料得行使之相關權利。</p>
      <p>您在使用本網站時，應詳細閱讀並遵從本聲明，當您繼續使用本網站服務時，即視為已閱讀、瞭解並完全同意本聲明的所有約定，且同意本公司蒐集、處理及利用您的個人資料，如您不同意本聲明之內容，您應立即停止使用本網站。本公司對於本服務中與用戶相關的各種資料，依據下列方式進行處理。</p>
      <p>
        <div class="fw-700 mb-5">1 隱私條款適用範圍</div>
        本隱私條款適用於與TOBE達人影音網相關所有服務（以下稱為「本服務」）。
        用戶在使用本服務時所提供予本公司之個人資料等，以及本公司透過本服務所收集之使用者個人資料等，皆依據隱私條款進行管理。 惟藉由本服務上之連結前往外部服務並使用該外部服務時，用戶/使用者透過該外部服務所提供或被收集之用戶/使用者個人資料等，不在本隱私條款之適用範圍內。不包含在此條內。
      </p>
      <p>
        <div class="fw-700 mb-5">2 請用戶提供之資料</div>
        檔案資料、個人資料等、投搞內容
        基於順利使用本服務，讓用戶彼此間能夠圓滿交流等目的，本服務會請用戶提供相關檔案資料（於本服務上所顯示之名稱、圖像、訊息等）、姓名與出生年月日等。另外，其他用戶亦可閱覽為顯示在本服務上而由用戶自行登錄的檔案資料，或為向其他用戶公開而由用戶本身自行註冊、發布之資料（文字、影像、動畫等）。用戶可自由選擇是否註冊，但未註冊可能會無法使用本服務全部或部分內容。
        服務使用資料<br>
        (1) 基於行動定位用、交通調查用等為了提高服務品質之目的，本服務會使用Cookie。另外，本服務亦可能會使用Google Analytics。用戶可自由選擇是否使用Cookie，但不儲存Cookie可能會無法使用本服務之部分內容，請用戶留意。<br>
        (2)本服務會分析用戶用戶使用本服務時的IP位址、瀏覽器種類、瀏覽器語言、使用者環境等，並為提供更為優質之服務，或阻隔妨礙正常服務之非法行為而使用上述資料。<br>
        (3) 本服務之部分功能有利用行動電話等設備所送出的位置資訊。用戶使用該項服務時，會於該服務必要之範圍內使用該資訊。另外，在行動電話等設備的設定中，未允許設備送出位置資訊時，並不會送出位置資訊。<br>
        (4) 本服務可能會取得用戶所使用的設備資料（OS、終端設備的個體辨識資料、電腦名稱等）。本公司將基於提供更優質之服務、確認是否為本人或阻隔妨礙正常服務之非法行為等目的，使用上述資料。
      </p>
      <p>
        <div class="fw-700 mb-5">3 資料之使用目的</div>
        本公司僅會為下列目的而使用個人資料等。另外，統計資料等或已進行加工處理致使無法辨認出特定個人之資料，不包含在個人資料內。<br>
        (1) 實施本服務<br>
        (2) 客服諮詢等支援服務<br>
        (3) 實施問券調查，以及根據問券調查結果製作商品及販賣企劃之統計資料<br>
        (4) 對用戶發送與本服務相關之電子郵件及活動訊息<br>
        (5) 將本公司之其他與本服務相關的廣告訊息，或本公司以外之企業擔任廣告主的廣告訊息告知或寄送電子郵件給用戶<br>
        (6) 將使用者/用戶所發布之內容登載在本公司之官方SNS（Facebook、Twitter等）、橫幅式廣告、傳單、海報等廣告媒體上，作為本公司之廣告宣傳<br>
        (7) 寄送禮物及獎品等<br>
        (8) 除上述目的外，當本公司之目的已取得個別用戶/會員之同意時
      </p>
      <p>
        <div class="fw-700 mb-5">4 公開、提供資料</div>
        除下列各項情形以外，本公司決不向第三人（本公司為達成利用個人資料等之目的，而於必要範圍內委託他人處理全部或部分個人資料時，該被委託人不在此限）公開或提供用戶之個人資料等。<br>
        (1) 為執行企業等應遵從之法律上義務時<br>
        (2) 當法院、檢察署、警察、律師團體、消費者申訴中心或性質上與上述機關相同之其他團體/個人提出請求，或本公司基於法規、各項規定而受提供、公開之請求時<br>
        (3) 發生「本公司判斷為若不提供相關資料，不足以保護公眾或其他用戶/會員生命身體財產或名譽信用」之相當事由時<br>
        (4) 本公司在執行業務上之必要範圍內，向律師或其他在法律上負有保密義務之人提供相關資料時<br>
        (5) 除上述情形外，當本公司已取得個別用戶之同意時
      </p>
      <p>
        <div class="fw-700 mb-5">5 修正個人資料等</div>
        當用戶基於合理之理由，依據本公司另行訂定之流程步驟要求修正個人資料等時，本公司將盡速應對處理。
      </p>
      <p>
        <div class="fw-700 mb-5">6 刪除個人資料等</div>
        當用戶依據本公司另行訂定之流程步驟要求刪除或停止使用個人資料等時，本公司將盡速應對處理。惟除「刪除或停止使用個人資料等」以外，尚有其他適當手段可保護用戶/使用者權利時，本公司可能會基於本公司之判斷選擇該適當手段，並向該用戶/使用者通知該項處理要旨。<br>
        (1) 當個人資料等之利用已超過用戶/使用者當初所同意之目的/範圍時<br>
        (2) 個人資料等以違法或不正當形式提供給本公司時<br>
        (3) 發生性質上與前列各款相同之事由時
      </p>
      <p>
        <div class="fw-700 mb-5">7 本隱私條款之修訂</div>
        本公司可能會未經預告即變更、修訂上述內容。發生前述狀況時，本公司會於本服務內之適切位置及本網頁上登載經過變更、修訂後之內容。
      </p>
      <p>
        <div class="fw-700 mb-5">8 隱私權保護政策修訂</div>
        隨著市場環境的改變本公司將會不時修訂網站政策。會員如果對於TOBE達人影音網站隱私權聲明、或與個人資料有關之相關事項有任何疑問，可以利用電子郵件和TOBE達人影音網客服中心聯絡。
      </p>

  </div>
</div>
