<div class="content bg-white radius-5 xs-radius-0">
  <div class="border-bottom-gray-1px pd-50 xs-pd-20">

    <div class="title fz-1p2em fw-700 mb-5">常見問題</div>
    <div class="border-bottom-gray-1px"></div>

    <div class="pd-10 mt-10 lh-1p5em border-bottom-gray-1px">
      <b>
        Q1. 要加入會員才可以觀看影片嗎
      </b>
      <p class="ml-25">
        你可以不用加入會員即可觀看
      </p>
    </div>

    <div class="pd-10 mt-10 lh-1p5em border-bottom-gray-1px">
      <b>
        Q2. 如何成為ToBe達人影音網免費會員？
      </b>
      <p class="ml-25">
        請到ToBe達人影音網會員中心選擇您想要的方式進行註冊。
        您可以選擇「Facebook」、「Google」、「微信」、「ＱＱ」或「微博」等帳號做為您在達人網的	會員帳號。或者直接使用電子信箱註冊達人網新帳號。
      </p>
    </div>

    <div class="pd-10 mt-10 lh-1p5em border-bottom-gray-1px">
      <b>
        Q3. 忘記密碼怎麼辦
      </b>
      <p class="ml-25">
        使用電子信箱註冊的會員若您忘記密碼，請您到「ToBe達人影音網會員專區」輸入您的帳號即可重新	設定您的密碼唷!（使用社群帳號登入者，忘記密碼請至各社群網站查詢）
      </p>
    </div>

    <div class="pd-10 mt-10 lh-1p5em border-bottom-gray-1px">
      <b>
        Q4. 如何上傳影片
      </b>
      <p class="ml-25">
        只要透過幾個簡單的步驟，您就能將影片上傳到ToBe達人影音網。以下說明如何透過電腦或行動裝置上傳影片。<br><br>
      	電腦-使用電腦把影片上傳到達人網的步驟如下：<br>
        1.點選位於網頁頂端的「上傳」<br>
        2.點選「選擇檔案」	從電腦中選擇要上傳的影片<br>
        3.填寫影片資訊、調整影片隱私設定及選擇想要分享的社群。<br>
      	按一下 「完成」就成功將影片上傳到ToBe達人影音網。<br><br>
      	行動裝置-您可以使用ToBe達人影音網APP錄一段新影片直接上傳，也可以選擇上傳現有的影片：<br>
      	輕按「上傳」圖示 。錄一段新影片或選擇現有的影片來上傳。<br>
      	錄製新影片：輕按攝影機圖示即可開始錄影。選取現有的影片：在影片庫中選取影片。<br>
      	填寫影片資訊、調整影片隱私設定及選擇想要分享的社群。按一下 「完成」就成功將影片上傳到ToBe	達人影音網。
      </p>
    </div>

    <div class="pd-10 mt-10 lh-1p5em border-bottom-gray-1px">
      <b>
        Q5. 自己上傳影片後如何將訊息同步分享到社群？
      </b>
      <p class="ml-25">
        當您上傳影片時，於編輯影片資訊畫面中可選擇同步想要分享的社群讓更多朋友知道，如Facebook、	Google+、微博．當然啦，在同步之前需先進行帳號設定，設定方式：「會員」→「社群帳號設	定」，自行綁定/解除社群帳號。
      </p>
    </div>

    <div class="pd-10 mt-10 lh-1p5em border-bottom-gray-1px">
      <b>
        Q6. 什麼是關注
      </b>
      <p class="ml-25">
        使用關注功能去關注您感興趣的達人，您就成為他們的紛絲之一，所以她們分享的內容就會出現在您	的動態牆上，就可以第一時間知道他們的最新動態．
      </p>
    </div>

    <div class="pd-10 mt-10 lh-1p5em border-bottom-gray-1px">
      <b>
        Q7. 如何關注達人
      </b>
      <p class="ml-25">
        要關注達人，可以在該則影片上點擊關注或前往達人的個人主頁，然後點擊關注．
      </p>
    </div>

    <div class="pd-10 mt-10 lh-1p5em border-bottom-gray-1px">
      <b>
        Q8. 如何分享達人的影片到社群
      </b>
      <p class="ml-25">
        您可以將影片資訊分享到各社群，如Facebook、「Google+」、「微博」。點選「分享」。選擇	Facebook、「Google+」、或「微博」。填寫分享訊息即可完成分享。
      </p>
    </div>

    <div class="pd-10 mt-10 lh-1p5em border-bottom-gray-1px">
      <b>
        Q9. 上傳影片被強制刪除的情況
      </b>
      <p class="ml-25">
        若您上傳的影片違反了使用協定及相關規範事項，網站管理員會將您的影片刪除．
      </p>
    </div>

    <div class="pd-10 mt-10 lh-1p5em border-bottom-gray-1px">
      <b>
        Q10. 無法撥放影片
      </b>
      <p class="ml-25">
        請檢查撥放設備的網路連接狀況，並確保網路頻寬是足夠，避免同時上傳或下載大量檔案．
      </p>
    </div>

    <div class="pd-10 mt-10 lh-1p5em border-bottom-gray-1px">
      <b>
        Q11. 如何找到我想要的達人或影片
      </b>
      <p class="ml-25">
        您可以用搜尋關鍵字方式輸入達人名稱或影片名稱找到．或者從首頁選單中點選分類，從中瀏覽符合	哪個分類的所有影片．
      </p>
    </div>

    <div class="pd-10 mt-10 lh-1p5em border-bottom-gray-1px">
      <b>
        Q12. 如何按喜歡、留言及分享
      </b>
      <p class="ml-25">
        若您喜歡這個達人喜歡的影片，歡迎按個喜歡表示您的鼓勵．登入後在你喜歡的影片下，按下「喜歡」．當然好的達人好的影片也需要您的支持與分享，藉由您的分享讓更多人知道，相信達人們都會感受到的．若您有什麼話想跟達人交流互動，可在留言框中寫下您心中的話，讓達人感受您那份溫暖的心意．
      </p>
    </div>

    <div class="pd-10 mt-10 lh-1p5em border-bottom-gray-1px">
      <b>
        Q13. 若我的動態牆有任何新消息，如何設定「通知」功能?
      </b>
      <p class="ml-25">
        「會員」→「通知設定」選項，自行開啟/關閉的通知功能。
      </p>
    </div>

  </div>
</div>
