<div class="table mb-0">
  <div class="inline-block item-3 xs-item-2 pr-10 clearfix mb-10">
    <div class="onoffswitch switch-small inline-block relativ pull-left mr-5 top-5px">
      <input type="checkbox" name="reg-subscription" class="onoffswitch-checkbox" id="account-fb" checked>
      <label class="onoffswitch-label" for="account-fb">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <label for="account-fb" class="inline-block pull-left">Facebook</label>
  </div>

  <div class="inline-block item-3 xs-item-2 pr-10 clearfix mb-10">
    <div class="onoffswitch switch-small inline-block relativ pull-left mr-5 top-5px">
      <input type="checkbox" name="reg-subscription" class="onoffswitch-checkbox" id="account-google">
      <label class="onoffswitch-label" for="account-google">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <label for="account-google" class="inline-block pull-left">Google+</label>
  </div>

  <div class="inline-block item-3 xs-item-2 pr-10 clearfix mb-10">
    <div class="onoffswitch switch-small inline-block relativ pull-left mr-5 top-5px">
      <input type="checkbox" name="reg-subscription" class="onoffswitch-checkbox" id="account-wechat">
      <label class="onoffswitch-label" for="account-wechat">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <label for="account-wechat" class="inline-block pull-left">WeChat</label>
  </div>

  <div class="inline-block item-3 xs-item-2 pr-10 clearfix mb-10">
    <div class="onoffswitch switch-small inline-block relativ pull-left mr-5 top-5px">
      <input type="checkbox" name="reg-subscription" class="onoffswitch-checkbox" id="account-qq" checked>
      <label class="onoffswitch-label" for="account-qq">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <label for="account-qq" class="inline-block pull-left">QQ</label>
  </div>

  <div class="inline-block item-3 xs-item-2 pr-10 clearfix mb-10">
    <div class="onoffswitch switch-small inline-block relativ pull-left mr-5 top-5px">
      <input type="checkbox" name="reg-subscription" class="onoffswitch-checkbox" id="account-weibo">
      <label class="onoffswitch-label" for="account-weibo">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <label for="account-weibo" class="inline-block pull-left">微博</label>
  </div>

  <div class="inline-block item-3 xs-item-2 pr-10 clearfix mb-10">
    <div class="onoffswitch switch-small inline-block relativ pull-left mr-5 top-5px">
      <input type="checkbox" name="reg-subscription" class="onoffswitch-checkbox" id="account-taiwangoods">
      <label class="onoffswitch-label" for="account-taiwangoods">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <label for="account-taiwangoods" class="inline-block pull-left">台灣禮品館</label>
  </div>
</div>
