<div class="comments-major clearfix mt-20">
  <div class="avatar w10 xs-w20 pull-left">
    <div class="relative">
      <a href="#member" class="">
        <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-small" />
      </a>
    </div>
  </div>
  <div class="w80 pd-lr-10 pull-left">
    <div class="comment-detail">
      <div class="name fz-1p2em color-primary">
        NAME
      </div>
      <div class="comments">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      <div class="reply-comment mt-5 link-red-dark">
        <a href="#">回覆</a> <span class="fz-p8em"> - <span class="time-ago">14小時前</span></span>
      </div>
    </div>

    <% include ./_reply.ejs %>
    <% include ./_new-reply.ejs %>

  </div>
</div>
