<div class="reply-minor mt-10 clearfix">
  <div class="avatar pull-left mr-10">
    <div class="relative">
      <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-tiny" />
    </div>
  </div>
  <input type="text" name="name" placeholder="回覆..." class="pd-5 mt-5 radius-5 border-none w100-50 form-control input-sm">
</div>
