<div class="new-comments mt-15">
  <div class="pull-left mr-15">
    <div class="avatar">
      <div class="relative">
        <a href="#member" class="">
          <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-small" />
        </a>
      </div>
    </div>
  </div>
  <div class="pull-left w100-65">
    <form action="index.html" method="post" class="mt-5 clearfix">
      <div class="w100 pull-left">
        <input type="text" placeholder="留言......" class="form-control border radius-5 w100 height-40">
      </div>
    </form>
  </div>
</div>
