<div class="new-comments mt-15">
  <div class="w10 xs-w20 pull-left">
    <div class="avatar">
      <div class="relative">
        <a href="#member" class="">
          <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-small" />
        </a>
      </div>
    </div>
  </div>
  <div class="w70 ml-10 pull-left">
    <form action="index.html" method="post" class="mt-5 clearfix">
      <div class="w80 pull-left">
        <input type="text" placeholder="留言......" class="form-control radius-5 w100">
      </div>
      <div class="w20 pull-left">
        <button type="submit" name="button" class="btn btn-gray height-40 radius-5 ml-5">發送</button>
      </div>
    </form>
  </div>
</div>
