<div class="col-md-1 col-sm-2">
  <div class="avatar mb-15">
    <div class="relative">
      <a href="#member" class="">
        <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-small" />
      </a>
    </div>
  </div>
</div>
<div class="col-md-11 col-sm-10 custom-content mb-20">
  <a href="#" class="btn btn-sm btn-gray-light radius-5 pull-right">關注中</a>
  <div class="name fz-1p4em link-red">
    <a href="#">NAME</a>
  </div>
  <div class="fz-1p2em">
    <span class="title">title</span>
    <span class="time-ago fz-p8em"> - about 21 hour ago</span>
  </div>
  <div class="description mt-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <div class="more mt-5">
    <a href="#">展開全部...</a>
  </div>
  <div class="video mt-15 relative inline-block">
    <img src="http://dummyimage.com/640x360/cccccc/fff&text=video" alt="" />
    <div class="overlay">
      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/b-JD5I_B6LY" frameborder="0" allowfullscreen></iframe> -->
    </div>
  </div>
</div>
