<div class="comments-minor link-red-dark clearfix">
  <div class="mt-10 clearfix">
    <div class="avatar pull-left mr-10">
      <div class="relative">
        <a href="#member" class="">
          <img src="http://dummyimage.com/100x100/cccccc/fff&text=avatar" alt="" class="thumbnail-tiny" />
        </a>
      </div>
    </div>
    <div class="pull-left w100-50">
      <div class="name fz-1em link-red">
        <a href="#">NAME</a>
      </div>
      <div class="comments">
        <span comment>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
        - <span class="time-ago fz-p8em">14小時前</span>
      </div>
    </div>
  </div>
</div>
