.progress-bar {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 60%;
  height: 6px;
  background-color: $bg-light;
  @include border-radius(3px);
}
.progress-bar::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: $blue-light;
  @include border-radius(3px);
}
.progress-ok {
  background-color: $bg-light;
  @include border-radius(50%);
  display: inline-block;
  height: 30px;
  width: 30px;
  font-size: .8em;
  line-height: 1.7em;
  padding: 5px;
  color: $white;
}
.progress-ok.down {
  background-color: $blue-light;
}
